@font-face {
  font-family: 'Georgia';
  src: url("/assets/fonts/georgia.woff2");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'Segoe UI';
  src: url("/assets/fonts/SegoeUI.woff2");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}


html {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

body {
  font-family: "Segoe UI", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1rem;
  margin: 0;
  padding: 0;
  color: #222;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0
}

body,
html {
  width: 100%;
  height: auto;
  overflow-x: hidden
}

html {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased
}

body,
h1,
h2 {
  font-synthesis: none;
  font-kerning: none
}

body,
p,
li,
input,
textarea {
  font-family: "Segoe UI", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  line-height: 1.5;
}

h1,
.canvas-skills-title h1 {
  font-family: "Georgia", "Times New Roman", Times, serif;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: 0.05em;
}

h2,
h3,
nav,
.btn,
label {
  font-family: "Segoe UI", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  letter-spacing: 0.02em;
}

.canvas-skills-title h1,
.canvas-skills-title h2 {
  font-family: Georgia, serif;
  font-weight: 400;
  line-height: 1.2;
  height: auto;
  text-align: center;
}

.canvas-skills-title {
  min-height: 6.79rem
}

.canvas-skills-title h1 {
  font-size: clamp(2rem, 3rem, 4rem);
  min-height: 3.59rem
}

.canvas-skills-title h2 {
  font-size: clamp(1.8rem, 2.5rem, 4rem);
  min-height: 3.2rem
}


h1,
h2,
h3 {
  opacity: 1;
  transition: opacity .3s ease-in
}

.links,
.links a,
a,
p a {
  color: #0ff;
  text-shadow: 0 0 1px #003f4d, 0 0 2px #003f4d;
  font-weight: 700;
  text-decoration: underline
}

.links a:visited,
.links:visited,
a:visited,
p a:visited {
  color: #8be4ed;
  text-shadow: 0 0 1px #003f4d, 0 0 2px #003f4d
}

.links a:focus,
.links a:hover,
.links:focus,
.links:hover,
a:focus,
a:hover,
p a:focus,
p a:hover {
  color: #0bd6e2;
  text-shadow: 0 0 2px #1a1d9e, 0 0 4px #1a1d9e;
  outline: 2px solid #0bd6e2;
  text-decoration: none;
  background-color: rgba(255, 255, 255, .05);
  border-radius: 3px;
  padding: 0 2px
}

.a::after,
.links a::after,
.links::after,
.p a::after {
  content: '';
  position: absolute;
  left: 5%;
  bottom: -.1vw;
  height: .28vh;
  width: 90%;
  transform: scaleX(0);
  transition: transform .3s ease
}

.links a:hover::after,
.links:hover::after {
  transform: scaleX(1)
}

.links a::after,
.links::after {
  background: #0ff
}

#back-to-top:hover {
  background-color: #0ff;
  color: #000
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 100vw;
  background-color: #000
}

.nav-links {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  height: auto;
  min-height: 2rem
}

.nav-links ul {
  display: flex;
  gap: 2vw;
  list-style-type: none;
  min-height: 1.5rem
}

.nav-links ul li {
  list-style-type: none;
  padding: 1.8rem
}

.nav-links ul li a {
  text-decoration: none;
  font-size: clamp(1rem, 1.2vw, 1.25rem);
  color: #fff;
  width: 100%;
  height: auto
}

.nav-logo {
  display: flex;
  aspect-ratio: 2.38/1;
  height: 80px;
  width: auto;
  max-height: 80px;
  min-height: 2rem;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  padding-left: 1em
}

.nav-logo img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: contain
}

.footer-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: auto;
  min-height: 3rem;
  width: 40vw;
  max-width: 40vw;
  padding: 2em 0;
  aspect-ratio: 2.077/1
}

.footer-logo img {
  width: 100%;
  height: auto;
  display: block;
  object-fit: contain;
  aspect-ratio: inherit
}

.footer-links ul li {
  padding: 1em
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #000;
  padding: 2em 0;
  margin-top: -4em
}

.footer-links ul,
.social-media ul {
  display: flex;
  gap: 2vw;
  justify-content: center;
  width: 100%;
  height: auto
}

.footer-links ul li,
.social-media ul li {
  list-style: none;
  padding: 1vw
}

.social-media .footer-links {
  display: flex
}

.footer-links ul li a {
  text-decoration: none;
  font-size: 1.2rem;
  color: #fff
}

.social-media ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5em;
  padding: 1em 0
}

.social-media ul li {
  list-style: none
}

.social-media ul li img {
  width: 40px;
  height: 40px;
  object-fit: contain;
  transition: transform .3s ease
}

.social-media ul li img:hover {
  transform: scale(1.1)
}

.main-title {
  display: flex;
  margin: 0 auto;
  width: 100%;
  max-width: 100%;
  height: auto;
  min-height: 5rem;
  padding: 6em 0 1em;
  justify-content: center;
  text-align: center
}

.main-title h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  font-size: clamp(2rem, 3vw, 3rem);
  height: auto;
  min-height: 2rem
}

.main-title a {
  text-decoration: none;
  color: #000;
  text-decoration: underline solid cyan
}

.design-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  max-width: 100%;
  padding: 0 5rem;
  flex-wrap: wrap
}

#the-design {
  contain: layout paint;
  min-height: 100vh
}

#the-design h3,
#the-design p {
  min-height: 1.5rem
}

.coder-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap
}

.headshot-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: auto;
  position: relative
}

.headshot-container img {
  width: 100%;
  height: auto;
  padding-bottom: 4rem;
  object-fit: cover
}

.coder-box h2,
.designer-box h2 {
  height: auto;
  min-height: 2rem;
  font-size: 2rem;
  padding: .8em 0;
  text-decoration: underline solid cyan
}

.designer-box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  z-index: 5;
  padding: 1em
}

.coder-box {
  position: relative;
  z-index: 2;
  padding: 1em
}

.coder-box,
.designer-box {
  max-width: 20vw;
  text-align: center
}

.code-img {
  position: absolute;
  bottom: -10%;
  opacity: 0;
  transform: translateY(50%);
  transition: transform .6s ease, opacity .6s ease;
  z-index: 1;
  padding-left: 8rem;
  padding-bottom: 4rem
}

.code-img img {
  width: 40vw;
  height: auto;
  transition: transform .6s ease, opacity .6s ease;
  object-fit: cover
}

.coder-box {
  padding: 1em
}

.coder-box a,
.design-container a {
  text-decoration: none;
  color: #000;
  width: 100%
}

.coder-box h3,
.designer-box h3 {
  font-size: 1.4rem;
  padding-top: .5em
}

.animation-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center
}

.headshot,
.headshot-animated {
  width: 100%;
  transition: opacity .5s ease
}

.headshot-animated {
  position: absolute;
  opacity: 0
}

.headshot-animation .headshot {
  margin: 0 auto;
  opacity: 1
}

.coder-container,
.design-container {
  flex: 1 1 100%;
  max-width: 100%;
  min-width: 15vw
}

.designer-box:hover~.headshot-container .headshot {
  opacity: 0
}

.designer-box:hover~.headshot-container .headshot-animated {
  opacity: 1;
  animation: bounceIn .6s ease forwards
}

.designer-box:hover .headshot {
  opacity: 0
}

.designer-box:hover .headshot-animated {
  opacity: 1;
  animation: bounceIn .6s ease forwards
}

.coder-box:hover+.code-img {
  opacity: 1;
  transform: translateY(0)
}

.canvas-skills-grid {
  display: grid;
  grid-template-columns: 2fr 3fr;
  align-items: stretch;
  width: 100%;
  max-width: 100vw;
  gap: 0;
  height: auto;
  min-height: clamp(22.125rem, 22.3125rem, 35.9rem)
}

.canvas-skills-img {
  border-top: 1em solid #000;
  border-bottom: 1em solid #000;
  border-left: 1em solid #000;
  border-right: .5em solid #000;
  height: auto;
  max-width: 100vw;
  width: 100%;
  margin: 0 auto;
  min-height: unset;
  object-fit: cover
}

.canvas-skills-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  content: layout paint
}

img[fetchpriority=high] {
  contain: layout paint;
  content-visibility: auto
}

.canvas-skills-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-top: 1em solid #000;
  border-bottom: 1em solid #000;
  border-left: .5em solid #000;
  border-right: 1em solid #000;
  height: auto;
  max-width: 100vw;
  width: 100%;
  margin: 0 auto;
  min-height: unset
}

.canvas-skills-title h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0;
  line-height: 1.2;
  height: auto;
  min-height: 3.5rem
}

.canvas-skills-title h2 {
  font-size: clamp(1.2rem, 2rem, 4rem);
  padding: .2em 0;
  height: auto;
  line-height: 1.2;
  min-height: 1.3rem
}

.canvas-skills-title h1,
.canvas-skills-title h2 {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.3s ease-in;
}

.about-me {
  margin: 0 auto;
  max-width: 50vw;
  width: 50%;
  position: relative;
  padding-bottom: 10rem;
  height: auto;
  min-height: 100vh;
  contain: layout;
  overflow: hidden
}

main#projects.about-me {
  display: flow-root
}

.skills-main {
  width: 100%;
  max-width: 100vw;
  margin: auto;
  position: relative;
  padding-bottom: 10vh;
  margin-top: 4vh;
  padding-bottom: 10vh
}

.black-container {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  background-color: #000;
  width: 100%;
  max-width: 100vw;
  height: auto;
  min-height: 10rem;
  margin: 1em auto 0;
  border-radius: .225vw;
  box-shadow: 0 .25em .5em rgba(0, 0, 0, .4), inset 0 0 .625em rgba(255, 255, 255, .1)
}

#about-me-black-container {
  margin: 0 auto
}

.main-container {
  width: 100%;
  max-width: 100vw;
  height: auto;
  min-height: 100vh
}

.skills-black-container {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  background-color: #000;
  margin: 0 auto;
  height: auto;
  max-height: 100%;
  padding: 3em;
  box-shadow: 0 .25em .5em rgba(0, 0, 0, .4), inset 0 0 .625em rgba(255, 255, 255, .1);
  max-width: 80vw
}

.outer-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  max-width: 100%;
  height: auto
}

.section1 {
  display: grid;
  grid-template-rows: 1fr 3fr;
  width: 100%;
  height: auto
}

.section2 {
  display: flex;
  padding-right: 3vw
}

.dots {
  width: 15vw;
  height: auto;
  position: absolute;
  left: -10%
}

.dots img {
  width: 100%;
  height: auto;
  object-fit: cover
}

.headshot-about {
  display: flex;
  height: auto;
  width: 20vw;
  position: absolute;
  left: -2%;
  margin-top: .3em
}

.headshot-about img {
  width: 100%;
  height: auto;
  object-fit: cover
}

.about--me-container {
  margin-top: -3.2em
}

.portfolio-name {
  display: flex;
  padding: 6.3em 0 1em;
  width: 30vw;
  height: auto
}

.portfolio-name img {
  width: 100%;
  height: auto;
  object-fit: cover
}

.greeting-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-left: 50px;
  width: 100%
}

.greetings-label {
  display: flex;
  background-color: #fff;
  color: #000;
  width: 15vw;
  border-top: .625vh solid #000;
  border-right: .625vh solid #000;
  border-left: .625vh solid #000;
  margin-left: 1.999rem;
  text-align: center;
  box-shadow: 0 .25vw .5vw rgba(0, 0, 0, .4), inset 0 0 .625vw rgba(255, 255, 255, .1)
}

.greetings-label h2 {
  font-size: 1.71rem;
  font-weight: 700;
  padding: .5vw;
  height: auto;
  min-height: 1.5rem
}

.greetings {
  width: 90%;
  border-bottom: .16vw solid #fff;
  border-left: .16vw solid #fff;
  border-right: .16vw solid #fff
}

.greetings p {
  color: #fff;
  font-family: "Segoe UI", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 250;
  line-height: 1.4;
  font-size: 1.4rem;
  padding: 2vw;
  height: auto;
  min-height: 1rem
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5vw;
  margin: 1.25vw;
  max-width: 100%;
  padding: 1vh 1vw
}

.fun-facts-grid {
  display: grid;
  grid-template-rows: 0.4fr 3fr;
  border: .155vw solid #fff
}

.facts-grid {
  display: grid;
  grid-template-rows: 2fr 1fr;
  gap: 1.7vw;
  width: 100%
}

.favorites-label {
  height: 8vh;
  width: 100%
}

.sub-labels {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff
}

.sub-labels h3 {
  font-size: 1.5vw;
  text-align: center;
  color: #000;
  height: auto;
  min-height: 1rem
}

.my-favorites-grid {
  display: grid;
  grid-template-rows: 0.4fr 3fr;
  gap: .5vw;
  border: .155vw solid #fff
}

.inside-grid-favorites {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  margin: 0 auto
}

.favorites {
  width: 5vw;
  height: auto;
  margin: 0 auto
}

.favorites img {
  width: 100%;
  height: auto;
  padding: 2vh 0;
  object-fit: cover
}

.facts,
.favorites p {
  color: #fff;
  height: auto;
  min-height: 1rem
}

.fun-facts {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  width: 100%;
  max-width: 100%;
  height: auto;
  margin: 0 auto
}

.facts {
  display: grid;
  grid-template-columns: 1fr 3fr;
  width: 100%;
  max-width: 100%;
  height: auto;
  padding: 2vw
}

.check-mark-text {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  margin-top: 1vh;
  padding: 0 .7vw
}

.quote p {
  color: #fff;
  font-size: 1.6vw;
  font-style: italic;
  text-align: center;
  width: 100%;
  height: auto;
  min-height: 1rem
}

.quote:last-child {
  padding-bottom: 1vw
}

.check-mark {
  display: flex;
  align-items: center;
  justify-content: center
}

.check-mark img {
  width: 5vw;
  height: auto;
  object-fit: cover
}

.quote {
  display: flex;
  flex-direction: column;
  border: .16vw solid #fff;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto
}

.quote img {
  width: 3vw;
  height: auto;
  padding-top: 1vw;
  object-fit: cover
}

.skills-black {
  margin-top: 4vh
}

.skills-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 0 auto;
  background-color: #000;
  padding: 1vw 2vw;
  width: 100%;
  height: auto;
  min-height: 10rem
}

.skills-firstset h4 {
  font-size: 2vw;
  color: #a6a6a6;
  transition: font-size .3s ease, color .3s ease;
  padding: 2vw 2vw;
  width: 80%;
  height: auto;
  min-height: 1rem;
  margin: 0 auto
}

.skills-firstset :hover {
  font-size: 2.3vw;
  height: auto;
  color: #fff
}

.skills-secondset h4 {
  font-size: 2.4vw;
  color: #a6a6a6;
  transition: font-size .3s ease, color .3s ease;
  padding: 2vw 3vw;
  width: 60%;
  height: auto;
  min-height: 1rem;
  margin: 0 auto
}

.skills-secondset :hover {
  font-size: 2vw;
  color: #fff
}

.skills1 {
  display: flex;
  justify-content: flex-end;
  align-content: center;
  text-align: end;
  padding: 2vw 1vw
}

.skills2 {
  display: flex;
  justify-content: flex-start;
  align-content: center;
  text-align: center
}

.skills3 {
  display: flex;
  justify-content: flex-end;
  text-align: end;
  padding: 2vw
}

.skills4 {
  display: flex;
  padding-left: 0;
  padding: 2vw
}

.skills6 {
  display: flex;
  padding-left: 6.77vw;
  padding: 2vw
}

.skills8 {
  display: flex;
  text-align: center;
  justify-content: center;
  padding: 2vw
}

.skills9 {
  display: flex;
  padding: 2vw
}

.skills10 {
  display: flex;
  text-align: start;
  justify-content: flex-start;
  padding: 2vw
}

.skills12 {
  display: flex;
  text-align: center;
  padding: 2vw
}

.skills14 {
  display: flex;
  text-align: start;
  align-content: flex-start;
  padding: 2vw
}

.skills17 {
  display: flex;
  text-align: end;
  padding: 2vw
}

.skills18 {
  display: flex;
  text-align: start;
  justify-content: flex-start;
  padding: 2vw
}

.resume {
  padding: 6vh 0 2vh;
  background-color: #fff
}

.resume-border {
  border: .3vh solid #fff;
  width: 95%;
  height: auto;
  min-height: .3rem;
  margin: 1em auto
}

.resume h2 {
  font-size: 2vw;
  color: #000;
  width: 100%;
  height: auto;
  min-height: 2rem
}

.background-color {
  background-color: #000
}

.resume-date {
  width: 90%;
  height: auto;
  min-height: 2rem;
  margin: 0 auto;
  max-width: 90%;
  padding: 0
}

.resume-date h2 {
  font-size: clamp(1.5rem, 2.5vw, 3rem);
  color: #fff;
  width: 100%;
  height: auto;
  color: #000;
  line-height: 1.2
}

#resume-border {
  padding-bottom: 0
}

#description {
  width: 100%;
  max-width: 100vw;
  height: auto;
  min-height: 5rem
}

.resume-summary {
  width: 100%;
  height: auto;
  min-height: 10rem;
  padding: 2em 1em
}

.resume-summary a {
  text-decoration: none;
  color: #0ff;
  height: auto;
  min-height: 1rem;
  width: 100%;
  max-width: 100vw
}

.resume-summary h2 {
  width: 100%;
  height: auto;
  padding-top: 4rem;
  font-size: clamp(1rem, 1.2rem, 1.8rem);
  min-height: 1rem
}

.resume-summary h2,
.resume-summary h3 {
  color: #fff;
  min-height: 2rem;
  height: auto;
  width: 100%;
  max-width: 100vw;
  padding: 1em 1em .5em
}

.resume-summary p {
  color: #fff;
  font-family: "Segoe UI", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 250;
  line-height: 1.5;
  padding: 1.25em 3em;
  font-size: clamp(1rem, 1.3rem, 1.8rem);
  min-height: 1rem;
  width: 100%;
  height: auto;
  max-width: 100vw;
  padding: .2em
}

.education {
  margin-top: 10vh
}

.project-images {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 93%;
  height: auto;
  min-height: 3rem;
  aspect-ratio: 16/9;
  margin: 1.5em auto 0
}

.site-hero-img img {
  width: 90%;
  height: auto;
  padding: 1%;
  object-fit: cover;
  aspect-ratio: inherit;
  object-position: center
}

.hamburger-icon {
  display: none
}

#back-to-top {
  position: fixed;
  bottom: 1rem;
  left: 1rem;
  z-index: 999;
  padding: .5rem 1rem;
  font-size: 1rem;
  border: .0825em solid #0ff;
  background-color: #000;
  color: #fff;
  border-radius: .25rem;
  cursor: pointer;
  transition: opacity .3s ease
}

#side-nav {
  position: fixed;
  bottom: 1rem;
  right: max(1rem, env(safe-area-inset-right));
  z-index: 999;
  width: auto;
  min-width: 6rem;
  min-height: 7rem;
  padding: .5rem 1rem;
  background-color: #000;
  color: #fff;
  border-radius: .25rem;
  contain: layout paint;
  will-change: transform
}

#back-to-top {
  bottom: 1rem;
  left: 1rem
}

#side-nav {
  bottom: 1rem;
  right: 1rem;
  width: auto;
  min-width: 6rem;
  min-height: 16.4rem;
  contain: layout
}

#side-nav {
  right: max(1rem, env(safe-area-inset-right))
}

#side-nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0
}

#side-nav ul li {
  margin: 5% 0
}

#side-nav ul li a {
  display: block;
  padding: .5em;
  background-color: #000;
  color: #fff;
  border: .0825em solid #0ff;
  border-radius: .3125em;
  font-size: 1rem;
  text-decoration: none;
  transition: background-color .3s, color .3s;
  width: auto;
  text-align: center
}

#side-nav li {
  margin: .25rem 0;
  height: auto;
  min-height: 1.3rem
}

#side-nav a {
  color: #fff;
  text-decoration: none
}

#side-nav li a:hover {
  background-color: #0ff;
  color: #000;
  transform: scale(1.05)
}

.click-me {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2em auto;
  width: auto;
  height: auto;
  min-height: 2rem;
  font-size: 1.1rem;
  font-weight: 600;
  text-decoration: none;
  cursor: pointer;
  padding: .5em;
  border: .0825em solid #0ff;
  background-color: #000;
  color: #fff;
  border-radius: .25rem;
  transition: opacity .3s ease
}

.click-me:hover {
  background-color: gray;
  box-shadow: .0225em .0225em .0125em rgba(0, 0, 0, .3), -.125em -.125em .3125em rgba(255, 255, 255, .7);
  color: #fff
}

.click-me a {
  text-decoration: none;
  color: #fff
}

.project-link {
  min-height: 2rem;
  height: auto;
  min-height: 5rem;
  width: 100%;
  max-width: 100vw
}

.project-links .explore-container .click-me {
  margin: 2em auto;
  height: auto;
  min-height: 1rem;
  width: 100%;
  max-width: 100vw
}

.takeme-text {
  width: 100%;
  max-width: 100vw;
  height: auto;
  margin: 1em auto;
  min-height: 1rem
}

.takeme-text h3 {
  color: #0ff;
  font-weight: 700;
  font-size: 1.3rem;
  text-decoration: underline cyan;
  height: auto;
  width: 100%;
  max-width: 100vw
}

#back-to-top:hover {
  background-color: #0ff;
  color: #000;
  transform: scale(1.1)
}

.skills-text {
  font-size: clamp(1rem, 2vw, 1.5rem)
}

.skills-text.hover,
.skills-text:active,
.skills-text:hover {
  color: #fff;
  font-size: clamp(1.2rem, 2.3vw, 1.7rem);
  text-shadow: .5em .5em 1em rgba(11, 214, 226, .8), .125em .125em .5em rgba(11, 214, 226, .6), .375em .375em 1.25em rgba(11, 214, 226, .4)
}

.skills-text {
  cursor: pointer
}

.button-grid {
  display: flex;
  width: 80%;
  max-width: 100%;
  height: auto;
  margin: 0 auto;
  padding-bottom: 2em;
  gap: 1em;
  min-height: 2rem
}

.contact-form-container {
  width: 100%;
  margin: 2em auto;
  text-align: left
}

.contact-form-container form {
  display: flex;
  flex-direction: column;
  gap: 1em
}

.contact-form-container input,
.contact-form-container textarea {
  width: 100%;
  padding: .75em;
  border: .0625em solid #b0b0b0;
  border-radius: .3125em;
  font-size: 1rem
}

form {
  padding: 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  background-color: #f2f7fa;
  width: 60%;
  box-shadow: 0 .25em .5em rgba(0, 0, 0, .1);
  border-radius: .5em;
  color: #1a1d9e
}

.form-sect label {
  font-size: 1rem;
  margin-bottom: .5em
}

.form-sect {
  margin-bottom: 1.5em
}

.form-sect input,
.form-sect select,
.form-sect textarea {
  width: 100%;
  padding: .75em;
  border-radius: .3125em;
  border: .0625em solid #b0b0b0;
  font-size: 1rem;
  height: auto
}

textarea {
  resize: vertical;
  height: 12.5vh
}

button.submit-button {
  width: 100%;
  padding: .75em;
  background-color: #000;
  color: #fff;
  border: none;
  border-radius: .3125em;
  font-size: 1.2rem;
  cursor: pointer;
  transition: background-color .3s ease
}

button.submit-button:hover {
  background-color: #0bd6e2
}

.desktop-version {
  display: block
}

.mobile-version {
  display: none
}

.hubspot {
  width: 93%;
  height: auto;
  max-width: 100%;
  margin: 0 auto
}

.grade-grid img,
.hubspot img {
  margin: 0 auto;
  width: 93%;
  height: auto;
  object-fit: cover
}

.border-white {
  border: 1em solid #fff;
  margin: 30px auto;
  width: 95%;
  max-width: 100%;
  min-height: .2rem;
  height: auto;
  padding: .9375em 0
}

.collections-border-white {
  border: 1em solid #fff;
  margin: 1.875em auto;
  width: 95%;
  max-width: 100%;
  height: 100%;
  padding: .9375em 0
}

.hamburger-nav-links {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  width: 80%;
  height: 100%;
  background-color: rgba(0, 0, 0, .9);
  z-index: 10;
  transform: translateX(100%);
  transition: transform .3s ease;
  flex-direction: column;
  padding-top: 60px
}

.hamburger-nav-links.active {
  transform: translateX(0)
}

.hamburger-nav-links ul {
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 1.25em;
  text-align: center
}

.hamburger-nav-links ul li a {
  font-size: 2rem;
  color: #fff;
  text-decoration: underline solid cyan;
  padding: .625em;
  border-bottom: none;
  transition: color .3s ease, text-decoration .3s ease
}

.hamburger-nav-links ul li a:hover {
  color: #0ff;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, .5)
}

.collections-grid,
.collections-row {
  display: grid;
  width: 100%;
  max-width: 100%;
  height: auto;
  padding: 0
}

.collections-grid {
  grid-template-rows: repeat(2, 1fr);
  margin: 2em auto
}

.collections-row {
  grid-template-columns: repeat(3, 1fr);
  width: 80vw;
  max-width: 100%;
  height: auto;
  margin: 4em auto
}

.collection-thumbnail-box {
  background-color: #000;
  box-shadow: rgb(0 0 0 / 20%) 0 0 1.5625em .5em;
  width: 100%;
  height: auto;
  margin: 2em auto;
  padding: 1em;
  box-sizing: border-box;
  display: flex;
  flex-direction: column
}

.collections-title {
  width: 100%;
  height: auto;
  max-width: 100%;
  margin: 0 auto;
  background-color: #fff;
  padding: .725em
}

.collections-container {
  width: 100%;
  height: auto;
  margin: 0 auto
}

.collections-thumbnail {
  margin: 0 auto;
  width: 90%
}

.collections-thumbnail img {
  width: 100%;
  height: auto;
  margin: 0 auto;
  border: .2em solid #fff;
  object-fit: cover
}

.collections-button-grid {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 0;
  margin: 1em auto;
  padding: 0 1.5em
}

.collections-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  font-size: 1rem;
  padding: .5em 1em;
  background-color: #fff;
  border: .2em solid #000;
  border-radius: 2em;
  color: #000;
  text-decoration: none;
  cursor: pointer;
  transition: transform .3s ease
}

.collections-btn:hover {
  background-color: #0ff;
  box-shadow: .0625em .0625em .3125em rgba(0, 0, 0, .3), -.125em -.125em .3125em rgba(255, 255, 255, .7)
}

.collections-btn a {
  text-decoration: none;
  color: #000
}

.collections-title {
  width: 93%;
  height: auto;
  max-width: 37.5vw;
  margin: 0 auto
}

#project-title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: auto;
  min-height: 4rem;
  margin: 1em auto 2em;
  line-height: 1.5;
  background-color: #fff;
  width: 95%;
  padding: 1em 0
}

#project-title h2 {
  font-size: clamp(1rem, 2vw, 2rem);
  height: auto;
  width: 100%;
  min-height: 1.2rem
}

.author-bio-text h2 {
  font-size: 1.8rem;
  width: 100%;
  height: auto;
  min-height: 1.5rem
}

main#projects.about-me {
  contain: layout paint;
  overflow: hidden;
  min-height: 100vh;
  height: auto
}

.grade-container h3,
.grade-container p,
.grade-text,
.grade-title,
.pagespeed-grade-title {
  min-height: 2rem
}

.grade-container {
  min-height: 35rem
}

.grade-text,
.grade-title,
.mood-board {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  width: 100%;
  max-width: 100vw
}

.grade-text .grade-title h3,
.mood-board h3,
.pagespeed-grade-title h3 {
  font-size: 1.5rem;
  height: auto;
  min-height: 1.2rem;
  width: 100%;
  color: #000;
  margin: 0 auto
}

.grade-text {
  width: 100%;
  max-width: 100%;
  height: auto;
  margin: 0 auto;
  padding: 1em
}

#desktop-grade1 h3,
#desktop-grade2 h3 {
  font-size: 1rem
}

.grade-container h3,
.grade-container p {
  font-size: clamp(1rem, 1.3vw, 1.25rem);
  line-height: 1.4;
  text-align: center;
  word-break: break-all
}

.author-bio p,
.author-bio p i,
.author-bio strong {
  color: #fff;
  font-size: 1.2rem;
  line-height: 1.4
}

.grade-title,
.pagespeed-grade-title {
  height: auto;
  padding: .625em;
  background-color: #fff
}

.pagespeed-grade-title {
  margin: 1em auto
}

.pagespeed-container {
  margin: 1em auto
}

.grades {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 100%
}

.grade-container {
  width: 100%;
  max-width: 100vw;
  margin: 1em auto;
  display: grid;
  grid-template-columns: repeat(5, minmax(5vw, 1fr));
  gap: .3125em;
  background-color: #000
}

.grade-header,
.grade-item {
  display: flex;
  align-items: center;
  justify-content: center
}

.grade-header {
  height: auto;
  width: 100%;
  max-width: 100%;
  padding: .3125em;
  background-color: #fff
}

.grade-item {
  padding: .3125em;
  height: auto;
  width: 100%;
  background-color: #fff
}

.pagespeed-container {
  width: 100%;
  height: auto;
  max-width: 100vw;
  min-height: 10rem
}

.author-bio,
.cta-section,
.grade-img,
.mood-board,
.pagespeed-grade-img,
.project-images {
  width: 100%;
  max-width: 1200px;
  height: auto;
  margin: 0 auto;
  padding: 0
}

.author-bio {
  background-color: #000;
  color: #0bd6e2;
  min-height: 10rem
}

.author-bio img {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
  padding: 0 1em;
  box-sizing: border-box;
  margin: 0 auto
}

.cta-section img,
.grade-img img,
.mood-board img,
.pagespeed-grade-img img,
.project-img img {
  width: 93%;
  height: auto;
  margin: 0 auto;
  object-fit: cover;
  min-height: 5rem
}

.cta-section p {
  font-size: 1.3rem;
  width: 100%;
  height: auto
}

.grade-grid,
.hubspot {
  display: flex;
  flex-direction: column;
  gap: 1.5em;
  margin: 0 auto;
  width: 95%;
  max-width: 95%;
  height: auto
}

.author-bio p {
  width: 100%;
  font-size: 1.3rem;
  padding: .3em;
  font-weight: 600
}

.mood-board,
.resume-border {
  height: auto;
  min-height: 8rem
}

.casestudy {
  height: auto;
  contain: layout;
  overflow: hidden
}

.wireframe {
  min-height: 100vh;
  height: auto;
  contain: layout;
  overflow: hidden
}

.casestudy-hr {
  margin: 2em auto 2em;
  width: 80%
}

.list-items {
  margin: 0 auto
}

.list-items ul li {
  color: #fff;
  width: 60%;
  margin: 0 auto;
  line-height: 1.6;
  text-align: left;
  font-size: 1.2rem
}

.casestudy h3 {
  padding: 2em 2em 0 2em;
  left: 1%;
  margin: 0 auto 1em;
  width: 100%;
  height: auto
}

.casestudy p {
  font-size: 1.4rem;
  left: 1%;
  margin: 0 auto 1em;
  width: 100%;
  height: auto
}

.casestudy h3 {
  font-size: 1.5rem;
  left: 1%;
  margin: 0 auto 1em;
  width: 100%;
  height: auto
}

.list-items ul li {
  padding-left: 1.25em;
  margin-top: .5em
}

.list-items ul li {
  margin-bottom: 1em
}

.list-items h3 {
  font-size: 1.5rem;
  left: 1%;
  margin: 0 auto 1em;
  width: 100%;
  height: auto
}

.list-items li {
  line-height: 1.6;
  font-size: 1.3rem
}

.explore-container {
  display: flex;
  flex-direction: row;
  margin: 2em auto;
  height: auto;
  width: 95%;
  background-color: #fff
}

.project-links .explore-container .click-me {
  margin: 2em auto
}

.tooltip {
  position: relative;
  display: inline-block;
  cursor: pointer
}

.tooltip h4 {
  position: relative;
  display: inline-block;
  cursor: pointer
}

.tooltip:focus .tooltip-text,
.tooltip:hover .tooltip-text {
  visibility: visible;
  opacity: 1
}

.tooltip-text {
  transform: translateY(-100%);
  z-index: 1000;
  top: auto;
  bottom: auto
}

.tooltip-text {
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #333;
  color: #fff;
  border: .125em solid #0bd6e2;
  box-shadow: 0 0 .3125em rgba(0, 0, 0, .5);
  padding: .5em;
  border-radius: 4px;
  white-space: normal;
  width: max-content;
  max-width: 200px;
  z-index: 10;
  visibility: hidden;
  opacity: 0;
  transition: opacity .3s ease
}

.tooltip-text::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -.3125em;
  border-width: .3125em;
  border-style: solid;
  border-color: #0bd6e2 transparent transparent transparent
}

.tooltip:hover .tooltip-text {
  visibility: visible;
  opacity: 1
}

.hidden {
  display: none
}

.site-hero-img,
.wireframe {
  width: 100%;
  max-width: 1200px;
  height: auto;
  margin: 0 auto
}

.site-hero-img {
  aspect-ratio: 1.95/1;
  min-height: clamp(10rem, 30vw, 12rem)
}

.site-hero-img img,
.wireframe-img img {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
  box-sizing: border-box;
  margin: 0 auto;
  aspect-ratio: inherit;
  padding: .2em 1em
}

.wireframe-img {
  min-height: 20rem
}

.site-hero-img {
  min-height: 5rem
}

@media (max-width:1024px) {
  main#projects.about-me {
    min-height: 5000px
  }

  .nav-links {
    display: none
  }

  .menu-toggle {
    display: block;
    color: #fff;
    font-size: 2rem;
    padding: 1em 1em .5em .5em;
    cursor: pointer;
    z-index: 20
  }

  .hamburger-icon {
    display: flex;
    width: 3.5vw;
    height: auto;
    min-height: 1rem;
    aspect-ratio: 1/1
  }

  .hamburger-nav-links {
    display: flex
  }

  .hamburger-nav-links {
    display: none;
    flex-direction: column;
    background: #000;
    position: absolute;
    top: 80px;
    width: 40%;
    height: auto;
    padding: 1em;
    z-index: 100
  }

  .hamburger-nav-links.active {
    display: flex
  }

  .border-white {
    border: .5em solid #fff;
    margin: 1em auto;
    width: 95%;
    max-width: 100%;
    height: auto;
    padding: .9375em 0
  }

  .site-hero-img,
  .wireframe {
    width: 100%;
    max-width: 1200px;
    height: auto;
    margin: 0 auto
  }

  .site-hero-img img,
  .wireframe-img img {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
    box-sizing: border-box;
    margin: 0 auto;
    aspect-ratio: inherit
  }

  #projects {
    margin: 0 auto;
    width: 75%;
    max-width: 75vw;
    position: relative;
    padding-bottom: 3rem;
    height: auto;
    min-height: 10rem;
    margin: 0 auto
  }

  .resume-border {
    width: 93%;
    height: auto;
    min-height: 5rem
  }

  .author-bio img {
    width: 93%;
    max-width: 93vw;
    height: auto;
    min-height: 5rem
  }

  .side-nav {
    min-height: 6rem
  }

  .canvas-skills-grid {
    grid-template-columns: 2fr 2fr;
    min-height: clamp(10rem, 15.375rem, 22.3125);
    width: 100%;
    max-width: 100vw;
    height: auto
  }

  .canvas-skills-img {
    max-height: 100%;
    height: auto;
    object-fit: cover
  }

  .canvas-skills-title {
    min-height: unset;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center
  }
}

@media (max-width:768px) {
  .nav-logo {
    height: calc(200px / 2.38);
    aspect-ratio: 2.38;
    width: auto;
    max-height: 105px;
    padding-left: 1em;
    overflow: hidden
  }

  .nav-logo img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: block
  }

  .nav-links {
    display: none
  }

  head {
    min-height: 1.2rem
  }

  .canvas-skills-grid {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 100vw;
    height: auto;
    align-items: center;
    justify-content: space-between;
    min-height: clamp(31.93rem, 32rem, 42.187rem)
  }

  .canvas-skills-img {
    object-fit: cover;
    display: block;
    width: 100%;
    max-width: 100vw;
    height: auto;
    min-height: clamp(16.375rem, 17.125rem, 26.56rem);
    contain: layout paint
  }

  .canvas-skills-img img {
    width: 100%;
    height: auto;
    aspect-ratio: inherit;
    border: .2em solid #000
  }

  .canvas-skills-title {
    width: 85%;
    max-width: 85vw;
    max-height: 12.5rem;
    min-height: 12.5rem;
    height: auto;
    margin: .5em auto;
    border: .8em solid #000
  }

  .canvas-skills-title h1 {
    font-size: clamp(1.5rem, 2.5rem, 3rem);
    padding: 1em 0 0;
    height: auto;
    min-height: 6.5rem
  }

  .canvas-skills-title h2 {
    padding: .4em 0 1em;
    height: auto;
    min-height: 5.06rem;
    font-size: 2rem
  }

  .casestudy,
  .mood-board,
  .resume-border,
  .wireframe {
    width: 100%;
    height: auto;
    min-height: 5rem
  }

  #projects {
    width: 85%;
    max-width: 85vw;
    height: auto;
    min-height: 100vh;
    contain: layout
  }

  .mood-board {
    padding: .2em
  }

  .author-bio,
  .cta-section,
  .grade-img,
  .mood-board,
  .project-images {
    padding: .2em
  }

  .grade-text {
    padding: .5em
  }

  .site-hero-img img,
  .wireframe-img img {
    padding: .2em
  }

  #project-title,
  .pagespeed-grade-title {
    height: auto;
    margin: .2em auto 1em;
    line-height: 1.5;
    background-color: #fff;
    width: 95%;
    max-width: 95vw;
    padding: 0
  }

  #project-title h2 {
    font-size: clamp(1.5rem, 2vw, 2rem);
    color: #000;
    width: 100%;
    height: auto;
    min-height: 1.5rem
  }

  .button-grid {
    display: flex;
    flex-direction: column
  }

  .click-me {
    height: auto;
    margin: 0 auto
  }

  .menu-toggle {
    display: block;
    color: #fff;
    font-size: 2rem;
    padding: 1em 1em .5em .5em;
    cursor: pointer;
    z-index: 20
  }

  .hamburger-icon {
    display: flex;
    width: 4.2vw;
    height: auto;
    aspect-ratio: 1/1;
    min-height: 1rem
  }

  .hamburger-nav-links {
    display: flex
  }

  .hamburger-nav-links {
    display: none;
    flex-direction: column;
    background: #000;
    position: absolute;
    top: 80px;
    width: 40%;
    height: auto;
    padding: 1em;
    z-index: 100
  }

  .hamburger-nav-links.active {
    display: flex
  }

  .click-me a {
    font-size: 1rem
  }

  .design {
    height: auto;
    min-height: 65rem;
    width: 100%;
    max-width: 100vw
  }

  .coder-box,
  .coder-container,
  .design-container,
  .designer-box {
    width: 100%;
    max-width: 100vw
  }

  .site-hero-img {
    width: 100%;
    max-width: 768px;
    height: auto;
    margin: 0 auto;
    padding: 0
  }

  .site-hero-img img {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
    box-sizing: border-box;
    margin: 0 auto;
    aspect-ratio: inherit
  }

  .headshot-container {
    align-items: last baseline
  }

  .headshot img,
  .headshot-animated img,
  .headshot-container img {
    padding: 0
  }

  .coder-box h2,
  .designer-box h2 {
    font-size: clamp(1.125rem, 2vw, 1.5rem);
    height: auto
  }

  .coder-box h3,
  .designer-box h3 {
    font-size: clamp(1rem, 1.5vw, 1rem);
    height: auto;
    min-height: 1rem
  }

  #nav {
    margin-top: 0;
    padding: 0
  }

  .footer-links ul li a {
    font-size: 1rem
  }

  .tooltip:hover .tooltip-text {
    visibility: visible;
    opacity: 1
  }

  .collections-button-grid {
    padding: 0 .5em
  }

  .collections-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    font-size: 2rem;
    padding: .225em .5em;
    background-color: #fff;
    border: .2em solid #000;
    border-radius: 2em;
    color: #000;
    text-decoration: none;
    cursor: pointer;
    transition: transform .3s ease
  }

  .resume-border {
    width: 95%;
    max-width: 95%;
    height: auto;
    min-height: 20rem
  }

  .takeme-text {
    margin: 2em auto 0
  }

  .author-bio,
  .cta-section {
    max-width: 100%;
    height: auto;
    min-height: 10rem
  }

  .author-bio img,
  .cta-section img {
    width: 100%;
    height: auto;
    margin: 0 auto;
    object-fit: cover;
    aspect-ratio: inherit
  }

  .author-bio-text,
  .cta-section img {
    margin: 1em auto
  }

  .author-bio h2 {
    font-size: clamp(1.1rem, 2vw, 1.3rem);
    height: auto
  }

  .author-bio p {
    font-size: 1rem;
    height: auto
  }

  .author-bio-text {
    width: 98%
  }

  .list-items ul li {
    color: #fff;
    width: 75%
  }

  .collections-grid,
  .collections-row {
    display: flex;
    flex-direction: column;
    width: 80%;
    max-width: 100%;
    height: auto;
    padding: 0;
    margin: 0 auto
  }

  .collections {
    height: auto;
    width: 100%
  }

  footer {
    margin-top: 2em
  }

  .collections-title {
    width: 100%;
    height: auto;
    max-width: 100%
  }

  .outer-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    max-width: 100%;
    height: auto;
    min-height: 10rem
  }

  .section1 {
    display: grid;
    grid-template-rows: 1fr 3fr;
    width: 100%;
    height: auto
  }

  .section2 {
    display: flex;
    padding-right: 3em
  }

  .dots {
    width: 25vw;
    left: -10%
  }

  .headshot-about {
    display: flex;
    height: auto;
    width: 25vw;
    position: absolute;
    left: -1%;
    margin-top: 3em
  }

  .about--me-container {
    margin-top: .2em
  }

  .portfolio-name {
    padding: 6em 0 1em;
    width: 35vw
  }

  .portfolio-name img {
    width: 100%;
    height: auto;
    object-fit: cover
  }

  .greetings p {
    font-size: 1rem;
    height: auto;
    min-height: 1rem
  }

  .greetings-label {
    width: 20vw;
    height: auto
  }

  .greetings-label h2 {
    font-size: clamp(1rem, 2vw, 1.2rem);
    height: auto;
    min-height: 1rem
  }

  .facts,
  .inside-grid-favorites {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    margin: 0 auto;
    gap: 3vw
  }

  .favorites {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3vw;
    width: 80%;
    height: 60%;
    margin: 3vw auto;
    border: .1vw solid #fff;
    padding: 2vw 0
  }

  .favorites img {
    width: 5vw;
    height: auto;
    padding: 1vw 0;
    object-fit: cover
  }

  .favorites-label {
    height: 4vh;
    width: 100%
  }

  .footer-links {
    margin-left: 1em
  }

  .footer-links ul {
    display: flex;
    justify-content: center
  }

  .footer-links ul li a {
    font-size: .9rem;
    margin: 0 auto
  }

  .side-nav {
    min-height: 17.5rem
  }
}

@media (max-width:480px) {

  h1,
  h2,
  h3 {
    transition: none !important;
    opacity: 1 !important
  }

  .about-me {
    margin: 0 auto;
    max-width: 90vw;
    width: 90%;
    position: relative;
    padding-bottom: 10rem;
    height: auto;
    min-height: 100vh;
    contain: layout;
    overflow: hidden
  }

  main#projects.about-me {
    display: flow-root
  }

  .design {
    contain: layout paint;
    min-height: 40rem
  }

  .side-nav {
    min-height: 15.5rem;
    height: auto;
    aspect-ratio: 63/124
  }

  .casestudy p {
    font-size: 1.4rem;
    left: 1%;
    margin: 0 auto;
    width: 100%;
    height: auto
  }

  .takeme-text {
    margin: 4em auto 0
  }

  .canvas-skills-img {
    min-height: 16.92rem;
    object-fit: cover;
    display: block;
    width: 100%;
    max-width: 100vw;
    height: 16.92rem;
    border-bottom: .2em solid #000;
    border-left: .2em solid #000;
    border-right: .2em solid #000;
    aspect-ratio: 360/209
  }

  .canvas-skills-img img {
    width: 100%;
    height: auto;
    aspect-ratio: inherit;
    object-fit: cover;
    display: block;
    aspect-ratio: inherit
  }

  .canvas-skills-title {
    width: 90%;
    max-width: 90vw;
    margin: .25em 0;
    transition: none !important;
    opacity: 1 !important;
    visibility: visible !important;
    height: auto;
    border: .5em solid #000;
    min-height: 11.8125rem
  }

  .canvas-skills-title h1 {
    padding: .2em 0 .2em;
    min-height: 4.75rem;
    height: auto
  }

  .canvas-skills-title h2 {
    font-size: 1.5rem;
    padding: .2em 0 .2em;
    min-height: 3.09rem;
    height: auto
  }

  .canvas-skills-title h1,
  .canvas-skills-title h2 {
    opacity: 1 !important;
    visibility: visible !important;
    transition: none !important
  }


  .canvas-skills-grid {
    min-height: 29.25rem;
    height: auto
  }

  #projects {
    width: 90%;
    height: auto;
    max-width: 90vw
  }

  .black-container {
    width: 100%;
    max-width: 100vw;
    height: auto;
    min-height: 10rem
  }

  .hamburger-icon {
    width: 6.4vw;
    height: auto;
    min-height: 1rem;
    aspect-ratio: 1/1
  }

  .border-white {
    border: .2em solid #fff;
    margin: .5em auto;
    width: 96%;
    max-width: 100%;
    height: auto;
    padding: .9375em 0
  }

  .border-white img {
    width: 96%
  }

  .casestudy,
  .mood-board,
  .resume-border,
  .wireframe {
    width: 100%;
    height: auto;
    min-height: 5rem
  }

  .resume-summary p {
    min-height: .9rem;
    height: auto;
    line-height: 1.28
  }

  .resume-summary {
    height: auto;
    min-height: 8rem
  }

  .project-links {
    min-height: 10rem;
    height: auto
  }

  .button-grid {
    padding: 3em 0 2em;
    height: auto;
    min-height: 4rem
  }
}