* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body,
html {
  width: 100%;
  max-width: 100vw;
}

body {
  position: relative;
  font-family: "Playfair Display";
  letter-spacing: 0.078vw;
  overflow-x: hidden;

}

/* links and buttons */
.links,
.links a {
  position: relative;
  text-decoration: none;
  transition: color 0.3s ease;
}

.links::after,
.links a::after {
  content: '';
  position: absolute;
  left: 5%;
  bottom: -0.1vw;
  /* Adjust this value for desired spacing */
  height: 0.28vh;
  width: 90%;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

.links:hover::after,
.links a:hover::after {
  transform: scaleX(1);
}

.links::after,
.links a::after {
  background: cyan;
  /* Underline color */
}


#back-to-top:hover {
  background-color: cyan;
  color: black;
}

/* nav styling */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* Ensures logo stays to the left */
  width: 100%;
  background-color: black;
}

.nav-links {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  /* Centers the links */
}

.nav-links ul {
  display: flex;
  gap: 2vw;
  /* Adjust spacing between links as needed */
  list-style-type: none;
}

.nav-links ul li {
  list-style-type: none;
  padding: 2vw;

}

.nav-links ul li a {
  text-decoration: none;
  font-size: 1.2vw;
  color: white;
}

.nav-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 10vw;
  height: auto;
  padding-left: 2vw;
}

.nav-logo img {
  width: 100%;
}

.footer-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: auto;
  width: 40vw;
  padding: 2em 0;
}

.footer-logo img {
  width: 100%;
  max-width: 30vw;
}

.footer-links ul li {
  padding: 1vw;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: black;
  padding: 2vw 0;
  margin-top: -7.5vh;
}

.social-media ul,
.footer-links ul {
  display: flex;
  gap: 2vw;
  /* Add spacing between links */
  justify-content: center;
  /* Center the links */
}

.social-media ul li,
.footer-links ul li {
  list-style: none;
  padding: 1vw;
}

.social-media .footer-links {
  display: flex;
}

.footer-links ul li a {
  text-decoration: none;
  font-size: 1.2vw;
  color: white;
}

.social-media ul li a img {
  width: 2vw;
  padding: 2vh 0;
}


/* home page */

.main-title {
  display: flex;
  margin: 0 auto;
  width: 100%;
  padding: 6vh 0;
  justify-content: center;
  text-align: center;
}

.main-title h1 {
  text-align: center;
  font-size: 3vw;
}

.main-title a {
  text-decoration: none;
  color: black;
  text-decoration: underline solid cyan;
}

.design-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  max-width: 100%;
  padding: 0 7vw;
  flex-wrap: wrap;
}

.coder-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.headshot-container img {
  width: auto;
  padding-bottom: 7.5vh;
}

.coder-box h2,
.designer-box h2 {
  font-size: 2vw;
  padding: 0.5vh 0;
  text-decoration: underline solid cyan;
}

.designer-box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  z-index: 5;
  padding: 1vw;
}

.coder-box {
  position: relative;
  z-index: 2;
  /* Ensure text remains on top */
  padding: 1vw;
}

.coder-box,
.designer-box {
  max-width: 20vw;
  text-align: center;
}

.code-img {
  position: absolute;
  bottom: -10%;
  /* Start below coder-box */
  opacity: 0;
  transform: translateY(50%);
  transition: transform 0.6s ease, opacity 0.6s ease;
  /* Smooth slide-up */
  z-index: 1;
  /* Behind the coder-box text */
  padding-left: 8vw;
  padding-bottom: 4vh;
}

.code-img img {
  width: 40vw;
  height: auto;
  transition: transform 0.6s ease, opacity 0.6s ease;
}

.coder-box {
  padding: 1vw;
}

.design-container a,
.coder-box a {
  text-decoration: none;
  color: black;
  width: 100%;
}

.coder-box h3,
.designer-box h3 {
  font-size: 1.5vw;
  padding-top: 0.5vh;
}

/* Animation Setup */

.animation-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.headshot-container {
  display: flex;
  justify-content: center;
  align-items: end;
  text-align: center;
}

.headshot,
.headshot-animated {
  width: 100%;
  transition: opacity 0.5s ease;
}

.headshot-animated {
  position: absolute;
  opacity: 0;
}

.headshot-animation .headshot {
  margin: 0 auto;
  opacity: 1;
}

.design-container,
.coder-container {
  flex: 1 1 100%;
  /* Flex-grow: 1, Flex-shrink: 1, Flex-basis: 25vw */
  max-width: 100%;
  /* Prevent overflow */
  min-width: 15vw;
  /* Maintain minimum size for readability */
}

.designer-box:hover~.headshot-container .headshot {
  opacity: 0;
}

.designer-box:hover~.headshot-container .headshot-animated {
  opacity: 1;
  animation: bounceIn 0.6s ease forwards;
}

.designer-box:hover .headshot {
  opacity: 0;
}

.designer-box:hover .headshot-animated {
  opacity: 1;
  animation: bounceIn 0.6s ease forwards;
}

.coder-box:hover+.code-img {
  opacity: 1;
  transform: translateY(0);
  /* Slides up and stays under coder-box */
}

/* about */

.about-me {
  margin: 0 auto;
  max-width: 50vw;
  position: relative;
  padding-bottom: 10vh;
}

.skills-main {
  width: 100%;
  max-width: 100vw;
  margin: auto;
  position: relative;
  padding-bottom: 10vh;
  margin-top: 4vh;
  padding-bottom: 10vh;
}

.black-container {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  background-color: black;
  width: 100%;
  margin: 2em auto;
  border-radius: .225vw;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4), inset 0 0 10px rgba(255, 255, 255, 0.1);
}

.skills-black-container {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  background-color: black;
  margin: 0 auto;
  max-height: 130vh;
  padding: 3em;
  /* Space for the inner border */
  background-color: black;
  background-image: url(/img/black-container-background.png);
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4), inset 0 0 10px rgba(255, 255, 255, 0.1);
  max-width: 70vw;
}

.outer-container {
  display: grid;
  grid-template-columns: 2fr 2fr;
  max-width: 50vw;
  height: 82vh;
}

.section1 {
  display: grid;
  grid-template-rows: 1fr 3fr;
  width: 25vw;
  position: relative;
  height: 90vh;
}

.dots {
  width: 20vw;
  height: 100%;
  position: absolute;
  left: -10%;
}

.dots img {
  width: 20vw;
  height: auto;
}

.headshot-about {
  display: flex;
  height: auto;
  width: 25vw;
  position: absolute;
  top: 30%;
  left: -8.5%;
}

.headshot-about img {
  width: auto;
  height: 55vh;
}

.portfolio-name {
  display: flex;
  padding: 30vh 0;
}

.portfolio-name img {
  width: auto;
  height: 35vh;
}

.greeting-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-left: 50px;
  width: 100%;
}

.greetings-label {
  display: flex;
  background-color: white;
  color: black;
  width: 20.5vw;
  border-top: .625vh solid black;
  border-right: .625vh solid black;
  border-left: .625vh solid black;
  margin-left: 2.1vw;
  text-align: center;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4), inset 0 0 10px rgba(255, 255, 255, 0.1);
}

.greetings-label h2 {
  font-size: 1.8rem;
  font-weight: bold;
  padding: 0.5vw;
}

.greetings {
  width: 45.8vw;
  border-bottom: 0.16vw solid white;
  border-left: 0.16vw solid white;
  border-right: 0.16vw solid white;
}

.greetings p {
  color: white;
  font-family: tt norms pro, Arial, Helvetica, sans-serif;
  font-weight: 250;
  line-height: 1.4;
  font-size: 1.3rem;
  padding: 2vw;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5vw;
  margin: 20px;
  max-width: 100%;
  padding: 1vh 1vw;
}

.fun-facts-grid {
  display: grid;
  grid-template-rows: 0.4fr 3fr;
  border: 3px solid white;
}

.facts-grid {
  display: grid;
  grid-template-rows: 2fr 1fr;
  gap: 3em;
  width: 100%
}

.favorites-label h3 {
  padding: 2.5vh 0;
}

.sub-labels {
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
}

.sub-labels h3 {
  font-size: 1.5rem;
  text-align: center;
  color: black;
}

.my-favorites-grid {
  display: grid;
  grid-template-rows: 0.4fr 3fr;
  gap: 3em;
  border: 0.16vw solid white;
}

.inside-grid-favorites {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%
}

.favorites img {
  width: 5vw;
  padding: 2vh 0;
}

.facts,
.favorites p {
  color: white;
}

.fun-facts {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
}

.facts {
  display: grid;
  grid-template-columns: 1fr 3fr;
  padding: 2vw;
}

.check-mark {
  display: flex;
  align-items: center;
  justify-content: center;
}

.quote {
  display: flex;
  flex-direction: column;
  border: 0.16vw solid white;
  justify-content: center;
  align-items: center;
}

.quote img {
  width: 3vw;
}

.quote p {
  color: white;
  font-size: 1.2rem;
  font-style: italic;
  text-align: center;
  padding: 1vw;
}

/*  skills */
.skills-black {
  margin-top: 4vh;
}

.canvas-skills-grid {
  display: grid;
  grid-template-columns: 1fr 2fr;
  width: 100%;
  gap: 0;
}

.canvas-skills-img img {
  height: 50vh;
  width: auto;
  border-bottom: 4vh solid black;
  border-left: 4vh solid black;
  border-right: 2vh solid black;
}

.canvas-skills-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: 4vh solid black;
  border-right: 4vh solid black;
  border-left: 2vh solid black;
  height: 50vh;
}

.canvas-skills-title h1 {
  font-size: 4vw;
  padding: 0;
}

.canvas-skills-title h2 {
  font-size: 2vw;
  padding: 1vw 0;
}

.skills-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  margin: 0 auto;
  background-image: black;
}

.skills h4 {
  font-size: 2rem;
  color: #a6a6a6;
  transition: font-size 0.3s ease, color 0.3s ease;
  padding: 2.5vw;
}

.skills :hover {
  font-size: 2.3rem;
  color: white;
}

.skills-label h3 {
  font-size: 2.4rem;
  color: #a6a6a6;
  transition: font-size 0.3s ease, color 0.3s ease;
  padding: 3vw;
}

.skills-label :hover {
  font-size: 2rem;
  color: white;

}

.skills1 {
  display: flex;
  justify-content: flex-end;
  align-content: center;
  text-align: end;
  padding: 2vw 1vw;
}

.skills2 {
  display: flex;
  justify-content: flex-start;
  align-content: center;
  text-align: center;
}

.skills3 {
  display: flex;
  justify-content: flex-end;
  text-align: end;
  padding: 2vw;
}

.skills4 {
  display: flex;
  padding-left: 0px;
  padding: 2vw;
}

.skills6 {
  display: flex;
  padding-left: 6.77vw;
  padding: 2vw;
}

.skills8 {
  display: flex;
  text-align: center;
  justify-content: center;
  padding: 2vw;
}

.skills9 {
  display: flex;
  padding: 2vw;
}

.skills10 {
  display: flex;
  text-align: start;
  justify-content: flex-start;
  padding: 2vw;
}

.skills12 {
  display: flex;
  text-align: center;
  padding: 2vw;

}

.skills14 {
  display: flex;
  text-align: start;
  align-content: flex-start;
  padding: 2vw;
}

.skills17 {
  display: flex;
  text-align: end;
  padding: 2vw;
}

.skills18 {
  display: flex;
  text-align: start;
  justify-content: flex-start;
  padding: 2vw;
}

/* resume page  */
.resume {
  padding: 6vh 0 2vh;
  background-color: white;
}

.resume-border {
  border: .3vh solid white;
  width: 45vw;
  margin: 2em auto;
}

.resume h2 {
  font-size: 2rem;
  color: black;

}

.resume-date h3 {
  font-size: 1.4rem;
  color: black;
}

.resume-summary a {
  text-decoration: none;
  color: cyan;
}

.resume-summary h3 {
  color: white;
}

.resume-summary p {
  color: white;
  font-family: tt norms pro, Arial, Helvetica, sans-serif;
  font-weight: 250;
  line-height: 1.4;
  padding: 20px 75px;
  font-size: 1.3rem;
}

.education {
  margin-top: 10vh;
}

/* projects */
.project-images {
  display: flex;
  justify-content: center;
  align-items: center;
  object-fit: contain;
  width: 45vw;
}

.project-images img {
  width: 93%;
  height: auto;
}

/* side menu and back to top button */
.hidden {
  display: none;
}

#side-nav {
  position: fixed;
  bottom: 5%;
  right: 2vw;
  z-index: 1000;
  flex-direction: column;
  align-items: flex-end;
  /* Initially hidden by JavaScript toggle */
}

#side-nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#side-nav ul li {
  margin: 3% 0;
  /* Adjust spacing between the links */
}

#side-nav ul li a {
  display: block;
  padding: 0.7em;
  background-color: black;
  color: white;
  border: 1px solid white;
  border-radius: 5px;
  font-size: 1rem;
  text-decoration: none;
  transition: background-color 0.3s, color 0.3s;
  width: auto;
  text-align: center;
}

#side-nav li a:hover {
  background-color: cyan;
  color: black;
  transform: scale(1.05);
}

/* Back-to-top button */
#back-to-top {
  position: fixed;
  bottom: 20px;
  left: 30px;
  z-index: 99;
  background-color: black;
  color: white;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  padding: 0.2em;
  cursor: pointer;
  transition: opacity 0.3s, transform 0.3s ease;
  border: 1px solid white;
}

/* Menu button */
.menu-toggle {
  display: none;
}

/* Custom styling for project buttons */
.click-me {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2em auto;
  width: auto;
  font-size: 1rem;
  padding: 0.5em 1em;
  background-color: white;
  border: 0.2em solid black;
  border-radius: 2em;
  color: black;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease;
}

.click-me:hover {
  background-color: cyan;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3), -2px -2px 5px rgba(255, 255, 255, 0.7);
}

.click-me a {
  text-decoration: none;
  color: black;
}

.project-links .explore-container .click-me {
  margin: 2em auto;
}

/* Scroll Behavior and Transitions */
#back-to-top:hover {
  background-color: cyan;
  color: black;
  transform: scale(1.1);
}

.skills-text:hover {
  text-shadow: 8px 8px 16px rgba(11, 214, 226, 0.8),
    /* outer glow */
    2px 2px 8px rgba(11, 214, 226, 0.6),
    /* softer glow */
    6px 6px 20px rgba(11, 214, 226, 0.4);
  /* faint glow */
}

.button-grid {
  display: flex;
  padding-bottom: 8vh;
  gap: 10vh;
}

/* contact page */
.contact-form-container {
  width: 100%;
  margin: 2em auto;
  text-align: left;
}

.contact-form-container form {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.contact-form-container input,
.contact-form-container textarea {
  width: 100%;
  padding: 0.75em;
  border: 1px solid #B0B0B0;
  border-radius: 5px;
  font-size: 1rem;
}

form {
  padding: 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  background-color: #F2F7FA;
  /* Match contact form background */
  width: 60%;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  /* Softer shadow */
  border-radius: 8px;
  /* Smooth rounded corners */
  color: #1A1D9E;
  /* Consistent text color */
}

form h1 {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 1em;
  color: #1A1D9E;
}

.form-sect label {
  font-size: 1.2rem;
  margin-bottom: 0.5em;
}

.form-sect {
  margin-bottom: 1.5em;
}

.form-sect input,
.form-sect textarea,
.form-sect select {
  width: 100%;
  padding: 0.75em;
  border-radius: 5px;
  border: 1px solid #B0B0B0;
  font-size: 1rem;
}

textarea {
  resize: vertical;
  height: 100px;
}

button.submit-button {
  width: 100%;
  padding: 0.75em;
  background-color: black;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1.1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button.submit-button:hover {
  background-color: #0BD6E2;
}

/* Default display */
.desktop-version {
  display: block;
}

.mobile-version {
  display: none;
}

.grade-container {
  width: 861px;
  max-width: 1200px;
  margin: 0 auto;
}

#desktop-grade h3 {
  font-size: 0.65rem;
}

.mood-board,
.pagespeed-grade-img {
  width: 861px;
  max-width: 1200px;
  margin: 0 auto;
}

.grade-grid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  gap: 1em;
}

.hubspot {
  width: 93%;
  height: auto;
  max-width: 1200px;
  margin: 0 auto;
}

.hubspot img,
.grade-grid img {
  margin: 0 auto;
  width: 93%;
  height: auto;
}

/* borders */
.border-white {
  border: 1em solid white;
  margin: 30px auto;
  width: 95%;
  max-width: 1200px;
  height: 100%;
  padding: 15px 0;
}

.collections-border-white {
  border: 1em solid white;
  margin: 30px auto;
  width: 95%;
  max-width: 1200px;
  height: 100%;
  padding: 15px 0;
}


.hamburger-nav-links {
  display: none;
  /* Initially hidden */
  position: fixed;
  top: 0;
  right: 0;
  width: 80%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  /* Semi-transparent black */
  z-index: 10;
  transform: translateX(100%);
  /* Initially off-screen */
  transition: transform 0.3s ease;
  flex-direction: column;
  padding-top: 60px;
}

/* Show the hamburger menu when active */
.hamburger-nav-links.active {
  transform: translateX(0);
  /* Slide in */
}

/* Nav links inside the hamburger menu */
.hamburger-nav-links ul {
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 20px;
  text-align: center;
}

.hamburger-nav-links ul li a {
  font-size: 2rem;
  color: white;
  text-decoration: none;
  padding: 10px;
  transition: color 0.3s ease;
}

.hamburger-nav-links ul li a:hover {
  color: cyan;
}

/* Menu button */
.menu-toggle {
  display: block;
  background-color: black;
  color: white;
  font-size: 2em;
  padding: 0.5em;
  cursor: pointer;
  z-index: 20;
  /* Ensure it's above other elements */
}

/* Hide the hamburger button when the menu is active */
.menu-toggle.active {
  display: none;
}

.menu-toggle {
  display: none;
}

/* collection page */

.collections-grid {
  display: flex;
  flex-direction: column;
  margin: 2em auto;
}

.collections-row {
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 1400px;
  margin: 4em auto;
}

.collection-thumbnail-box {
  background-color: black;
  box-shadow: rgb(0 0 0 / 20%) 0 0 1.5625em .5em;
  width: 375px;
  margin: 2em auto;
  padding: 1em;
  box-sizing: border-box;
  /* Ensures padding doesn't affect the width/height calculation */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* Allows content to be spaced evenly */
}

.collections-title {
  width: 93%;
  height: auto;
  max-width: 375px;
  margin: 0 auto;
}

.collections-container {
  width: 100%;
  height: auto;
  /* Let the content define the height */
  margin: 0 auto;
}

.collections-thumbnail {
  margin: 0 auto;
  width: 90%
}

.collections-thumbnail img {
  width: 100%;
  height: auto;
  margin: 0 auto;
  border: 0.2em solid white;
}

.collections-button-grid {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 0;
  margin: 1em auto;
  /* Add margin to space buttons evenly */
  padding: 0 1.5em;
  /* Ensure no extra padding below buttons */
}

.collections-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  font-size: 1rem;
  padding: 0.5em 1em;
  background-color: white;
  border: 0.2em solid black;
  border-radius: 2em;
  color: black;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease;
}

.collections-btn:hover {
  background-color: cyan;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3), -2px -2px 5px rgba(255, 255, 255, 0.7);
}

.collections-btn a {
  text-decoration: none;
  color: black;
}

.collections-title {
  width: 93%;
  height: auto;
  /* Let content determine height */
  max-width: 375px;
  margin: 0 auto;
}

#project-title {
  height: auto;
  margin: 2em auto 1em;
  line-height: 1.5;
  background-color: white;
  width: 100%;
  padding: 2em 0 2em;
}

#project-title h2 {
  font-size: 2rem;
}

.mood-board h3,
.author-bio-text h3,
.pagespeed-grade-title h3,
.grade-text .grade-title h3 {
  font-size: 2rem;
}

.grade-text {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 2em;
}

#desktop-grade h3 {
  font-size: 1rem;
}

#desktop-grade .grade-header h3,
#desktop-grade p {
  font-size: 1.2em;
}

.grade-item p {
  font-size: 1em;
}

.author-bio-text {
  width: 90%;
  max-width: 100%;
  margin: 2em auto 2em;
  height: auto;
  padding: 10px;
  background-color: white;
}


.pagespeed-grade-title,
.grade-title {
  width: 100%;
  max-width: 100%;
  margin: 2em auto 1em;
  height: auto;
  padding: 10px;
  background-color: white;
}

.pagespeed-grade-title {
  margin: 3em auto 0;
}

.grade-container {
  width: 100%;
  max-width: 1200px;
  margin: 1em auto;
  display: grid;
  grid-template-columns: repeat(5, minmax(60px, 1fr));
  gap: 5px;
  background-color: black;
}

.grade-header,
.grade-item {
  display: flex;
  align-items: center;
  justify-content: center;
}

.grade-header {
  height: 5em;
  width: 100%;
  max-width: 480px;
  padding: 5px;
  background-color: white;
}

.grade-item {
  padding: 5px;
  height: 5em;
  width: 100%;
  background-color: white;
}

.pagespeed-container {
  width: 100%;
  height: auto;
  max-width: 1200px;
  margin: 0 auto;
}

.mood-board,
.pagespeed-grade-img {
  width: 100%;
  max-width: 850px;
  height: auto;
  margin: 0 auto;
}

.mood-board img,
.pagespeed-grade-img img {
  width: 93%;
  height: auto;
  margin: 0 auto;
}

.cta-section,
.author-bio {
  max-width: 100%;
}

.cta-section img,
.author-bio img {
  width: 90%;
  height: auto;
  margin: 2em auto 0;
}

.cta-section p,
.author-bio p {
  font-size: 2.2rem;
}

.author-bio {
  flex-direction: column;
  margin: 0 auto;
  text-align: center;
}

.author-bio img {
  width: 40vw;
}

.hubspot,
.grade-grid {
  display: flex;
  flex-direction: column;
  gap: 1.5em;
  margin: 0 auto;
  width: 95%;
  padding-bottom: 4em;
}

.author-bio p {
  width: 100%;
  font-size: 1.3rem;
  padding: 10px;
}

.casestudy-hr {
  margin: 2em auto 2em;
  width: 80%;
}

.list-items {
  margin: 0 auto;
}

.list-items ul li {
  color: white;
  width: 60%;
  margin-left: 100px;
  line-height: 1.8;
  text-align: left;
  font-size: 1.5rem;
}

.casestudy h3 {
  padding: 2em 2em 0 2em;
  text-align: left;
  width: 80%;
  margin-left: 20px;
}

.casestudy p {
  font-size: 1.5rem;
  text-align: left;
}

.casestudy h3 {
  font-size: 2rem;
}

.list-items ul li {
  padding-left: 20px;
  margin-top: 0.5em;
}

.list-items ul li {
  margin-bottom: 1em;
}

.list-items ul li ul {}

.list-items h3 {
  font-size: 1.8rem;
  margin-left: 100px;
  margin-bottom: 1em;
}

.list-items li {
  line-height: 1.6;
}

.explore-container {
  display: flex;
  flex-direction: row;
  margin: 2em auto;
  height: auto;
  width: 95%;
  background-color: white;
}

.project-links .explore-container .click-me {
  margin: 2em auto;
}

@media (max-width: 1024px) {
  .nav-links ul li a {
    font-size: 1.7vw;
    justify-content: space-evenly;
    align-items: center;
    padding: 0;
  }

  .main-title {
    padding-top: 15vh;
  }

  .nav-logo {
    padding-top: 1.5vh;
  }

  .black-border {
    border: 3vh solid black;
  }

  html {
    overflow-x: hidden;
  }

  .design-container {
    padding: 0 2vw;
    height: 34vh;
  }

  .headshot,
  .headshot-animated {
    width: auto;
    height: 40vh;
    transition: opacity 0.5s ease;
    padding: 0;
  }


  .headshot-animated {
    padding: 0;
  }

  .coder-box h2,
  .designer-box h2 {
    font-size: 3vw;
    padding: 0.5vh 0;
  }

  .coder-box h3,
  .designer-box h3 {
    font-size: 2vw;
    width: 100%;
  }

  .designer-box,
  .coder-box {
    padding: 0 1.5vw;
  }

  .skills-grid {
    width: 100%;
    max-width: 90vw;
  }

  .skills-main {
    width: 100%;
    max-width: 90vw;
  }

  .hidden {
    display: none;
  }

  .skills h4 {
    font-size: 2rem;
    padding: .5vw;
  }

  .skills :hover {
    font-size: 2.5rem;
  }

  .skills-label h3 {
    font-size: 2.8rem;
    padding: 1.5vw;
  }

  .skills-label :hover {
    font-size: 3.2rem;
  }

  .skills {
    padding: 2vw;
  }

  .skills-label {
    padding: 1vw;
  }

  .canvas-skills-img img {
    height: 43.5vh;
    max-width: 100%;
    border: 2vw solid black;
  }

  .canvas-skills-title h1 {
    font-size: 4vw;
    padding: 0;
  }

  .nav-links {
    display: flex;
    flex-direction: column;
    position: static;
    width: auto;
    height: auto;
    background-color: transparent;
    box-shadow: none;
    padding: 0;
  }

  .nav-links ul {
    display: flex;
    flex-direction: column;
    gap: 1em;
  }

  .nav-links ul li {
    font-size: 2rem;
    color: white;
  }

  .nav-links ul li a:hover {
    background-color: cyan;
    color: black;
    transform: scale(1.05);
    /* GPU-accelerated */
    opacity: 0.9;
    /* GPU-accelerated */
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  }

  .main-title {
    padding-top: 5vh;
  }

  .nav-logo {
    padding-top: 1.5vh;
  }

  .black-border {
    border: 3vh solid black;
  }

  .about-me,
  .black-container {
    width: 960px;
    max-width: 1200px;
  }

  .main-container {
    width: 960px;
    max-width: 1200px;
    height: auto;
  }

  .resume,
  .skills-black-container {
    width: 100%;
    max-width: 1200px;
  }

  .resume {
    padding: 4em 0 1.35em;
    background-color: white;
    width: 100%;
  }

  .resume-border {
    width: 100%;
    margin: 2em auto;
    border-top: 2em solid black;
    border-bottom: 0em;
    border-left: 2em solid black;
    border-right: 2em solid black;
  }

  .resume-summary {
    border: 0.5em solid white;
    padding: 2em;
  }

  .grade-grid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    gap: 1em;
  }

  .hubspot {
    width: 93%;
    height: auto;
    max-width: 1200px;
    margin: 0 auto;
  }

  .hubspot img,
  .grade-grid img {
    margin: 0 auto;
    width: 100%;
    height: auto;
  }

  .border-white {
    border: 1em solid white;
    margin: 0 auto;
    width: 100%;
    height: auto;
    padding: 15px 0;
  }

  .border-black {
    border: 1em solid black;
    margin: 0 auto;
    width: 95%;
    height: auto;
  }

  .cta-section,
  .author-bio {
    max-width: 100vw;
  }

  .cta-section img,
  .author-bio img {
    width: 50vw;
    height: auto;
  }

  .cta-section p,
  .author-bio p {
    font-size: 2.2rem;
  }

  .project-images {
    width: 100%;
  }

  .skills h4 {
    font-size: 2rem;
    padding: 0.6em;
  }

  .skills:hover {
    font-size: 2.5rem;
    transform: scale(1.05);
    /* GPU-accelerated */
    opacity: 0.9;
    /* GPU-accelerated */
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  }

  .skills-label h3 {
    font-size: 2.8rem;
    padding: 1.8em;
  }

  .skills-label:hover {
    font-size: 3.2rem;
    transform: scale(1.05);
    /* GPU-accelerated */
    opacity: 0.9;
    /* GPU-accelerated */
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  }

  .skills {
    padding: 2.4em;
  }

  .skills-label {
    padding: 1.2em;
  }

  .canvas-skills-grid {
    display: flex;
    flex-direction: column;
    max-width: 100%;
  }

  .canvas-skills-img {
    height: auto;
    max-width: 100%;
  }

  .canvas-skills-img img {
    height: auto;
    max-width: 100%;
    border-bottom: 2em solid black;
    border-left: 2em solid black;
    border-right: 2em solid black;

  }

  .greetings-label,
  .canvas-skills-title {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1.5em solid black;
    height: auto;
    width: 90%;
    margin: 2em auto 0;
  }

  .canvas-skills-title h1 {
    font-size: 4rem;
    padding: 0;
  }

  .resume h2,
  .canvas-skills-title h2 {
    font-size: 2.5rem;
  }

  .wireframe-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
  }

  .wireframe-grid img {
    width: 100%;
    height: auto;
  }

  .about-me {
    margin-bottom: 7em;
    padding-bottom: 0;
  }

  .author-bio-text p,
  .pagespeed-grade-title h3,
  .grade-text .grade-title h3 {
    font-size: 1.5rem;
  }

  .grade-text,
  .grade-container {
    width: 380px;
    max-width: 480px;
    margin: 0 auto;
  }

  #desktop-grade h3 {
    font-size: 0.65rem;
  }

  #desktop-grade .grade-header h3,
  #desktop-grade p {
    font-size: 0.65rem;
  }

  .author-bio-text {
    width: 90%;
    max-width: 100%;
    margin: 1em auto 0.5em;
    height: auto;
    padding: 5px;

  }

  .pagespeed-grade-title,
  .grade-title {
    width: 100%;
    max-width: 100%;
    margin: 1em auto 0.5em;
    height: auto;
    padding: 5px;
  }

  .author-bio-text,
  .pagespeed-grade-title {
    margin-top: 3em;
  }

  .grade-container {
    width: 380px;
    max-width: 480px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 5px;

  }

  .grade-header {
    height: auto;
    width: 100%;
    max-width: 480px;
    padding: 5px;
  }

  .grade-item {
    padding: 5px;
    height: auto;
  }

  .pagespeed-container {
    width: 380px;
    max-width: 480px;
    margin: auto;
  }

  .mood-board,
  .pagespeed-grade-img {
    width: 100%;
    max-width: 480px;
    margin: auto;
  }

}

@media (max-width: 768px) {
  .hidden {
    display: none;
  }

  #back-to-top {
    bottom: 5px;
    /* Adjust position for smaller screens */
    left: 5px;
    /* Adjust position for smaller screens */
  }

  /* Mobile-specific styles for the hamburger menu */
  .hamburger-nav-links {
    display: none;
    /* Hidden by default on small screens */
    position: fixed;
    top: 0;
    right: 0;
    width: 80%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 10;
    transform: translateX(100%);
    /* Initially off-screen */
    transition: transform 0.3s ease;
    flex-direction: column;
    padding-top: 60px;
  }

  /* Show the hamburger menu when active */
  .hamburger-nav-links.active {
    transform: translateX(0);
    /* Slide in */
  }

  /* Show the menu button when active (hamburger menu is shown on small screens) */
  .menu-toggle {
    display: block;
  }

  /* Hide navbar links by default on mobile */
  .hamburger-nav-links {
    display: none;
  }

  /* Show the navbar links when active */
  .hamburger-nav-links.active {
    display: block;
  }

  .hamburger-nav-links ul {
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 20px;
    text-align: center;
  }

  .hamburger-nav-links ul li a {
    font-size: 2rem;
    color: white;
    text-decoration: none;
    padding: 10px;
    transition: color 0.3s ease;
  }

  .hamburger-nav-links ul li a:hover {
    color: cyan;
  }

  html {
    overflow-x: hidden;
  }

  /* Hide desktop and show mobile */
  .desktop-version {
    display: none;
    /* Hide desktop on mobile */
  }

  .mobile-version {
    display: block;
    /* Show mobile content */
    padding: 2vh 5vw;
  }

  /* nav */
  .nav-links ul li {
    padding: 1vw;
  }

  .nav-links ul li a {
    font-size: 2.2vw;
  }

  .nav-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15vw;
    height: auto;
    padding: 1vw 2vw;
  }

  .click-me {
    margin-top: 2vh;
    width: 30%;
    font-size: 1rem;
    padding: .625vw;
    border-radius: 2em;
    background-color: white;
    color: black;
  }

  .click-me:hover {
    background-color: cyan;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3), -2px -2px 5px rgba(255, 255, 255, 0.7);
    transition: ease-in-out 0.2s;
  }

  .button-grid {
    display: flex;
    flex-direction: row;
    padding-bottom: 0;
    margin: 1em auto 4em;
    gap: 0;
  }

  .mobile-version {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
    align-items: center;
    height: 67vh;
    /* Set to fill the viewport height */
    padding: 0;
    /* Remove extra padding */
    width: 100vw;
  }

  /* Title Section */
  .main-title {
    height: 15vh;
    padding: 12vh 0 0;
    /* Adjust padding as needed */
  }

  .main-title h1 {
    font-size: 5vw;
    margin: 0;

  }

  /* Designer and Coder Sections */
  .textbox {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2vw;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 0;
    margin: 0 auto;
  }

  .main-title {
    background-image: url(/img/code-nobackground.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  .designer-box {
    padding-left: 15vw;
  }

  .coder-box {
    padding-left: 3vw;
  }

  .designer-box,
  .coder-box {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
  }

  .designer-box h2,
  .coder-box h2 {
    font-size: 4vw;
    width: 100%;
    white-space: nowrap;
    text-align: center;
  }

  .designer-box h3,
  .coder-box h3 {
    font-size: 3vw;
    margin: 0;
    width: 100%;
    white-space: nowrap;
    text-align: center;
  }

  /* Headshot Image */
  .headshot-container img {
    width: 60vw;
    height: auto;
    margin: 0;
    padding: 0;
    align-self: flex-end;
    /* Aligns headshot to the bottom */
  }

  .outer-container {
    display: grid;
    grid-template-columns: 2fr 2fr;
    max-width: 50vw;
    height: 25vh;
    margin: 0 auto;
  }

  .section1 {
    display: grid;
    grid-template-rows: 1fr 3fr;
    width: 25vw;
    position: relative;
    height: 10vh;
  }

  .dots {
    width: 40vw;
    left: -20%;
    height: 10vh;
  }

  .dots img {
    width: 35vw;
  }

  .headshot-about {
    top: 118%;
    left: 30%;
    width: 10vw;
  }

  .headshot-about img {
    width: auto;
    height: 20vh;
  }

  .portfolio-name {
    display: flex;
    padding: 25% 0;
    justify-content: left;
    align-items: center;
    height: 5vh;
  }

  .portfolio-name img {
    width: auto;
    height: 10vh;
  }

  .greeting-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-left: 50px;
    width: 100%;
  }

  .greetings-label {
    display: flex;
    background-color: white;
    color: black;
    width: 100%;
    border-top: .625vh solid black;
    border-right: .625vh solid black;
    border-left: .625vh solid black;
    margin-left: 2.1vw;
    text-align: center;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4), inset 0 0 10px rgba(255, 255, 255, 0.1);
  }

  .greetings-label h2 {
    font-size: 1.8rem;
    font-weight: bold;
    padding: 0.5vw 2vw;
    width: 100%;
  }

  .greetings {
    width: 90%;
    border-bottom: 0.16vw solid white;
    border-left: 0.16vw solid white;
    border-right: 0.16vw solid white;
  }

  .greetings p {
    color: white;
    font-family: tt norms pro, Arial, Helvetica, sans-serif;
    font-weight: 250;
    line-height: 1.4;
    font-size: 1.3rem;
    padding: 2vw;
  }

  .grid-container {
    display: flex;
    flex-direction: column;
    gap: 1.5vw;
    margin: 20px;
    max-width: 100%;
    padding: 1vh 1vw;
  }

  .fun-facts-grid {
    display: grid;
    grid-template-rows: 0.4fr 3fr;
    border: 3px solid white;
  }

  .facts-grid {
    display: flex;
    flex-direction: column;
    width: 100%
  }

  .favorites-label h3 {
    padding: 2.5vh 0;
  }

  .sub-labels {
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
  }

  .sub-labels h3 {
    font-size: 1.5rem;
    text-align: center;
    color: black;
  }

  .my-favorites-grid {
    display: flex;
    flex-direction: column;
    border: 3px solid white;
    padding: 0;
  }

  .inside-grid-favorites {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: first baseline;
    padding: 0;
  }

  .favorites img {
    width: 8vw;
    padding: 2vh 0;
  }

  .favorites {
    padding: 0;
  }

  .fun-facts {
    display: flex;
    flex-direction: column;
    padding: 2vh;
  }

  .facts {
    display: flex;
    flex-direction: column;
    padding: 1vh 0;
  }

  .check-mark img {
    width: 10vw;
    padding: 1vh;
  }

  .books {
    padding-bottom: 5vh;
  }

  .quote {
    display: flex;
    flex-direction: column;
    border: 3px solid white;
    justify-content: center;
    align-items: center;
    padding: 4vw;
    margin-bottom: 4vh;
  }

  .quote img {
    width: 4vw;
  }

  .quote p {
    color: white;
    font-size: 1.2rem;
    font-style: italic;
    text-align: center;
    padding: 4vw;
  }

  /* Footer Adjustment */
  footer {
    padding-top: 0;
    margin-top: 0;
    padding-bottom: 15vh;
  }

  .footer-logo {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 1em 0 0;
  }

  .footer-logo img {
    width: 30%;
  }

  .social-media ul li a img {
    width: 4vw;
    padding: 1vh 0;
  }

  .footer-links ul li a {
    font-size: 2.7vw;
  }

  .skills-grid {
    display: flex;
    flex-direction: column;
  }

  .skills-main {
    width: 100%;
    max-width: 90vw;
  }

  .black-container {
    width: 100%;
    max-width: 90vw;
    padding-bottom: 5em;
  }

  .greetings-label {
    width: 30%;
    margin: 0 5vw;
    padding: 1vh 0;
    border-top: 0.4vh solid black;
    border-right: 0.4vh solid black;
    border-left: 0.4vh solid black;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4), inset 0 0 10px rgba(255, 255, 255, 0.1);
    text-align: center;
  }

  .greetings {
    width: 100%;
    margin: 0 auto;
    border-bottom: 0.16vw solid white;
    border-left: 0.16vw solid white;
    border-right: 0.16vw solid white;
    padding-top: 1vh;
  }

  .greetings-label h2 {
    font-size: 1.5rem;
    margin: 0;
    padding: 0.5vw;
  }

  .resume {
    padding: 2vh 0 2vh;
    background-color: white;
  }

  .resume h2 {
    font-size: 4.5vw;
  }

  .resume h3 {
    font-size: 3.5vw;
    padding: 2vw;
  }

  .casestudy p,
  .resume-summary p {
    color: white;
    font-family: tt norms pro, Arial, Helvetica, sans-serif;
    font-weight: 250;
    line-height: 1.4;
    padding: 3vw;
    font-size: 1.2rem;
  }

  .skills-black-container {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: black;
    width: 100%;
    max-width: 90vw;
    max-height: 130vh;
    padding: 3em;
    /* Space for the inner border */
  }

  .skills h4 {
    font-size: 1rem;
    padding: 1vw;
  }

  .skills :hover {
    font-size: 1.5rem;
  }

  .skills-label h3 {
    font-size: 1.8rem;
    padding: 1.5vw;
  }

  .skills-label :hover {
    font-size: 2rem;
  }

  .skills {
    padding: 1vw;
  }

  .skills-label {
    padding: .5vw;
  }

  .canvas-skills-grid {
    display: flex;
    flex-direction: column;
  }

  .canvas-skills-img img {
    height: 30vh;
    max-width: 100%;
    border: 2vw solid black;
  }

  .canvas-skills-title {
    border: 2vw solid black;
    height: 10vh;
    max-width: 100%;
    margin-top: 2vh;
  }

  .canvas-skills-title h1 {
    font-size: 6vw;
    padding: 0;
  }

  form {
    width: 90%;
    height: auto;
  }

  .nav-links {
    display: none;
  }

  .top-nav-links {
    display: none;
    /* Hide top navigation on small screens */
  }

  .author-bio {
    flex-direction: column;
    margin: 0 auto;
    text-align: center;
  }

  /* projects */
  .about-me,
  .black-container {
    width: 100%;
    max-width: 100vw;
    margin: 0 auto 0.5em;
    position: relative;
  }

  .skills-black-container {
    max-width: 95vw;
  }

  .resume-border {
    width: 95%;
    margin: 0 auto;
    border-top: 1em solid black;
    border-bottom: 0em;
    border-left: 1em solid black;
    border-right: 1em solid black;
  }

  .resume-summary {
    border: 0.5em solid white;
    padding: 2em;
  }

  .grade-grid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100vw;
    gap: 1em;
  }

  .hubspot {
    width: 668px;
    height: auto;
    max-width: 768px;
    margin: 0 auto;
  }

  .project-images img,
  .hubspot img,
  .grade-grid img {
    margin: 0 auto;
    width: 93%;
    height: auto;
  }

  .cta-section,
  .author-bio {
    max-width: 100vw;
  }

  .cta-section img,
  .author-bio img {
    width: 90%;
    height: auto;
  }

  .cta-section p,
  .author-bio p {
    font-size: 2.2rem;
  }

  .canvas-skills-grid {
    display: flex;
    flex-direction: column;
    max-width: 100vw;
  }

  .canvas-skills-img {
    height: auto;
    max-width: 100vw;
  }

  .canvas-skills-img img {
    height: auto;
    max-width: 100%;
    border-bottom: 2em solid black;
    border-left: 2em solid black;
    border-right: 2em solid black;
  }

  .resume,
  .greetings-label,
  .canvas-skills-title {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1.5em solid black;
    height: 15vh;
    width: 100%;
    margin: 2em auto 0;
  }

  .resume {
    padding: 1em;
  }

  .canvas-skills-title h1 {
    font-size: 2.2rem;
    padding: 0;
  }

  .resume h2,
  .canvas-skills-title h2 {
    font-size: 2rem;

  }

  .project-images {
    max-width: 100vw;
    height: auto;
  }

  .project-images img {
    width: 100%;
    height: auto;
    border: 1em solid black;
  }

  .wireframe-grid {
    display: flex;
    flex-direction: column;
    width: 75%;
    max-width: 768px;
    margin: 0 auto;
    gap: 2em;
  }

  .wireframe-grid img {
    width: 100%;
    max-width: 768px;
    height: auto;
  }

  .casestudy p,
  .casestudy h3 {
    padding: 0.5em 0;
    text-align: left;
  }

  /* Hide desktop and show mobile */

  .mobile-version {
    display: block;
    /* Show mobile content */
    padding: 2.4em 3.375em;
  }

  .click-me {
    margin: 0 auto;
    width: auto;
    padding: 0.5em 0;

  }

  .click-me a {
    text-decoration: none;
    color: black;
    font-size: 1rem;
    padding: 0.2em 0.5em;
  }

  .mobile-version {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
    align-items: center;
    height: 67vh;
    /* Set to fill the viewport height */
    padding: 0;
    /* Remove extra padding */
    width: 100vw;
  }

  /* Title Section */
  .main-title {
    height: 15vh;
    padding: 8.1em 0 0;
    /* Adjust padding as needed */
  }

  .main-title h1 {
    font-size: 5vw;
    margin: 0;
  }

  /* Designer and Coder Sections */
  .textbox {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2.4em;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 0;
    margin: 0 auto;
  }

  .main-title {
    background-image: url(/img/code-nobackground.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  .designer-box {
    padding-left: 18em;
  }

  .coder-box {
    padding-left: 3.6em;
  }

  .designer-box,
  .coder-box {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
  }

  .designer-box h2,
  .coder-box h2 {
    font-size: 4vw;
    width: 100%;
    white-space: nowrap;
    text-align: center;
  }

  .designer-box h3,
  .coder-box h3 {
    font-size: 3vw;
    margin: 0;
    width: 100%;
    white-space: nowrap;
    text-align: center;
  }

  /* Headshot Image */
  .headshot-container img {
    width: 60vw;
    height: auto;
    margin: 0;
    padding: 0;
    align-self: flex-end;
    /* Aligns headshot to the bottom */
  }

  .outer-container {
    display: grid;
    grid-template-columns: 2fr 2fr;
    max-width: 50vw;
    height: 25vh;
    margin: 0 auto;
  }

  .section1 {
    display: grid;
    grid-template-rows: 1fr 3fr;
    width: 25vw;
    position: relative;
    height: 10vh;
  }

  .dots {
    width: 40vw;
    left: -20%;
    height: 10vh;
  }

  .dots img {
    width: 35vw;
  }

  .headshot-about {
    top: 118%;
    left: 30%;
    width: 10vw;
  }

  .headshot-about img {
    width: auto;
    height: 20vh;
  }

  .portfolio-name {
    display: flex;
    padding: 25% 0;
    justify-content: left;
    align-items: center;
    height: 5vh;
  }

  .portfolio-name img {
    width: auto;
    height: 10vh;
  }

  .greeting-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-left: 50px;
    width: 100%;
  }

  .greetings {
    width: 90%;
    border-bottom: 0.192em solid white;
    border-left: 0.192em solid white;
    border-right: 0.192em solid white;
  }

  .greetings p {
    color: white;
    font-family: tt norms pro, Arial, Helvetica, sans-serif;
    font-weight: 250;
    line-height: 1.4;
    font-size: 1.3rem;
    padding: 1.2em;
  }

  .grid-container {
    display: flex;
    flex-direction: column;
    gap: 1.8em;
    margin: 20px;
    max-width: 100%;
    padding: 1vh 1vw;
  }

  .fun-facts-grid {
    display: grid;
    grid-template-rows: 0.4fr 3fr;
    border: 0.1875em solid white;
  }

  .facts-grid {
    display: flex;
    flex-direction: column;
    width: 100%
  }

  .favorites-label h3 {
    padding: 3em 0;
  }

  .sub-labels {
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
  }

  .sub-labels h3 {
    font-size: 1.5rem;
    text-align: center;
    color: black;
  }

  .my-favorites-grid {
    display: flex;
    flex-direction: column;
    border: 0.1875em solid white;
    padding: 0;
  }

  .inside-grid-favorites {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: first baseline;
    padding: 0;
  }

  .favorites img {
    width: 8vw;
    padding: 1.2em 0;
  }

  .favorites {
    padding: 0;
  }

  .fun-facts {
    display: flex;
    flex-direction: column;
    padding: 2.4em;
  }

  .facts {
    display: flex;
    flex-direction: column;
    padding: 1.2em 0;
  }

  .check-mark img {
    width: 10vw;
    padding: 1.2em;
  }

  .books {
    padding-bottom: 3.375em;
  }

  .quote {
    display: flex;
    flex-direction: column;
    border: 0.1875em solid white;
    justify-content: center;
    align-items: center;
    padding: 4.8em;
    margin-bottom: 2.7em;
  }

  .quote img {
    width: 4vw;
  }

  .quote p {
    color: white;
    font-size: 1.2rem;
    font-style: italic;
    text-align: center;
    padding: 4.8em;
  }

  /* Footer Adjustment */
  footer {
    padding-top: 0;
    margin-top: 0;
    padding-bottom: 18em;
  }

  .footer-logo {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 1em 0 0;
  }

  .footer-logo img {
    width: 30%;
  }

  .social-media ul li a img {
    width: 4vw;
    padding: 1.2em 0;
  }

  .footer-links ul li a {
    font-size: 2.7vw;
  }

  .skills-grid {
    display: flex;
    flex-direction: column;
  }

  .skills-main {
    width: 100%;
    max-width: 90vw;
  }

  .greetings {
    width: 100%;
    margin: 0 auto;
    border-bottom: 0.192em solid white;
    border-left: 0.192em solid white;
    border-right: 0.192em solid white;
    padding-top: 1.2em;
  }

  .resume-summary a {
    text-decoration: none;
    color: cyan;
  }

  .resume-summary h3 {
    color: white;
  }

  .resume-summary {
    max-width: 95vw;
    width: 100%;
    margin: 0 auto;
  }

  .casestudy p,
  .resume-summary ul li,
  .resume-summary p {
    line-height: 1.4;
    padding: 0.5em;
    font-size: 1.1rem;
    margin: 0 auto;
    max-width: 100%;
  }

  .hubspot,
  .grade-grid {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    margin: 0 auto;
    width: 95%;
    padding-bottom: 4em;
  }

  .author-bio p {
    width: 100%;
    font-size: 1.3rem;
    padding: 1em 0.5em;
  }

  .skills-black-container {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: black;
    width: 100%;
    max-width: 100vw;
    max-height: 130vh;
    padding: 3em;
    /* Space for the inner border */
  }

  .skills h4 {
    font-size: 1rem;
    padding: 1.2em;
  }

  .skills:hover {
    font-size: 1.5rem;
  }

  .skills-label h3 {
    font-size: 1.8rem;
    padding: 1.8em;
  }

  .skills-label:hover {
    font-size: 2rem;
  }

  .skills {
    padding: 1.2em;
  }

  .skills-label {
    padding: 0.6em;
  }

  form {
    width: 90%;
    height: auto;
  }

  .author-bio-text h3,
  .pagespeed-grade-title h3,
  .grade-text .grade-title h3 {
    font-size: 1.5rem;
  }

  .grade-text,
  .grade-container {
    width: 680px;
    max-width: 768px;
    margin: 0 auto;
  }

  #desktop-grade h3 {
    font-size: 0.65rem;
  }

  #desktop-grade .grade-header h3,
  #desktop-grade p {
    font-size: 0.65rem;
  }

  .pagespeed-grade-title,
  .grade-title {
    width: 100%;
    max-width: 768px;
    margin: 1em auto 0.5em;
    height: auto;
    padding: 5px;
  }

  .pagespeed-grade-title {
    margin-top: 3em;
  }

  .grade-container {
    width: 100%;
    max-width: 768px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 5px;

  }

  .grade-header {
    height: auto;
    width: 100%;
    max-width: 768px;
    padding: 5px;
  }

  .grade-item {
    padding: 5px;
    height: auto;
  }

  .pagespeed-container {
    width: 100%;
    max-width: 768px;
    margin: auto;
  }

  .mood-board,
  .pagespeed-grade-img {
    width: 100%;
    max-width: 768px;
    margin: auto;
  }
}

@media (max-width: 480px) {
  .hidden {
    display: none;
  }

  .collections-row {
    flex-direction: column;
    gap: 1em;
  }

  .canvas-skills-grid {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 100%;
    height: auto;
  }

  .canvas-skills-title .black-container {
    margin: 1em 0;
  }

  .title {
    height: auto;
    border: 0.5em solid black;
    margin: 0 auto;
  }

  .resume {
    border: 0.5em solid black;
    height: auto;
  }

  .resume h2 {
    font-size: 1.5rem;
    padding-bottom: 0.2 em;
  }

  #project-title {
    background-color: white;
    padding: 1em 0 0.5em;
    border: 0.5em solid white;
    margin: 1.5em auto;
    width: 100%;
  }


  #project-title h2 {
    font-size: 1.2rem;
  }

  .canvas-skills-title {
    border: 0.5em solid black;
    height: auto;
    width: 100%;
  }

  .canvas-skills-title h1 {
    font-size: 2.5rem;
  }

  .canvas-skills-title h2 {
    font-size: 2rem;
  }

  .black-container {
    margin: 1em 0;
  }

  .title {
    height: auto;
    border: 0.5em solid black;
    margin: 0 auto;
  }

  .resume {
    border: 0.5em solid black;
    height: auto;
  }

  .resume h2 {
    font-size: 1.5rem;
    padding-bottom: 0.2 em;
  }

  #project-border {
    border: 0.5em solid black;
    background-color: white;
    ;
    height: auto;
  }

  .pagespeed-grade-title h3,
  .grade-text .grade-title h3 {
    font-size: 1.5rem;
  }

  .grade-text,
  .grade-container {
    width: 380px;
    max-width: 100%;
    margin: 0 auto;
  }

  #desktop-grade h3 {
    font-size: 0.65rem;
  }

  #desktop-grade .grade-header h3,
  #desktop-grade p {
    font-size: 0.65rem;
  }

  .pagespeed-grade-title,
  .grade-title {
    width: 100%;
    max-width: 100%;
    margin: 1em auto 0.5em;
    height: auto;
    padding: 5px;
  }

  .pagespeed-grade-title {
    margin-top: 3em;
  }

  .grade-container {
    width: 380px;
    max-width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 5px;

  }

  .grade-header {
    height: auto;
    width: 100%;
    max-width: 100%;
    padding: 5px;
  }

  .grade-item {
    padding: 5px;
    height: auto;
  }

  .pagespeed-container {
    width: 380px;
    max-width: 100%;
    margin: auto;
  }

  .mood-board,
  .pagespeed-grade-img {
    width: 100%;
    max-width: 480px;
    margin: auto;
  }

  .pagespeed-grade-img img {
    width: 93%;
    max-width: 490px;
    height: auto;
    margin: 0 auto;
  }

  .wireframe-border-white,
  .border-white {
    border: 0.3em solid white;
    margin: 0 auto;
    width: 311px;
    max-width: 480px;
    height: auto;
    padding: 7.5px 0;
  }

  .wireframe-border-black {
    border: 0.2em solid black;
    margin: 0 auto;
  }

  .wireframe-grid {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 100%;
    padding: 0;
  }

  #style-guide {
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    padding: 0;
  }

  .project-images,
  .style-guide {
    width: 380px;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    padding: 0;
  }

  .wireframe img,
  .project-images img,
  .style-guide img {
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding: 0;
  }

  .wireframe {
    width: 380px;
    max-width: 100%;
    margin: 0 auto;
    padding: 0;
  }

  .wireframe img {
    width: 100%;
    max-width: 100%;
    margin: auto;
  }

  .resume-border {
    width: 95%;
    margin: 0 auto;
    border-top: 0.5em solid black;
    border-bottom: 0em;
    border-left: 0.5em solid black;
    border-right: 0.5em solid black;
  }

  .casestudy p,
  .resume-summary ul li,
  .resume-summary p {
    font-size: 1rem;
    margin: 0 auto;
    max-width: 100%;
  }

  .resume-summary ul li::before {
    font-size: 1rem;
  }

  .list-items ul li {
    width: 100%;
    max-width: 768px;
    padding-left: 1em;
    font-size: 1rem;
  }

  .casestudy p,
  .resume-summary h3,
  .resume-summary ul li,
  .resume-summary p {
    font-size: 1rem;
  }

  .explore {
    margin: 2em auto;
  }

  .cta-sub h3 {
    padding-top: 0;
    font-size: 1.3rem;
  }

  .explore-container {
    width: 100%;
    max-width: 768px;
    gap: 1em;
  }

  .cta-section {
    padding: 0.5em;
    width: 100%;
    max-width: 100%;
    height: auto;
  }

  .cta-section p {
    font-size: 1rem;
    line-height: 1.3;
  }



}