* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body,
html {
  width: 100%;
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  position: relative;
  font-family: "Playfair Display";
  letter-spacing: 0.078vw;
  overflow-x: hidden;

}

/* links and buttons */
.links,
.links a {
  position: relative;
  text-decoration: none;
  transition: color 0.3s ease;
}

.links::after,
.links a::after {
  content: '';
  position: absolute;
  left: 5%;
  bottom: -0.1vw;
  /* Adjust this value for desired spacing */
  height: 0.28vh;
  width: 90%;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

.links:hover::after,
.links a:hover::after {
  transform: scaleX(1);
}

.links::after,
.links a::after {
  background: cyan;
  /* Underline color */
}


#back-to-top:hover {
  background-color: cyan;
  color: black;
}

/* nav styling */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* Ensures logo stays to the left */
  width: 100%;
  max-width: 100vw;
  background-color: black;
}

.nav-links {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  /* Centers the links */
}

.nav-links ul {
  display: flex;
  gap: 2vw;
  /* Adjust spacing between links as needed */
  list-style-type: none;
}

.nav-links ul li {
  list-style-type: none;
  padding: 2vw;

}

.nav-links ul li a {
  text-decoration: none;
  font-size: 1.2vw;
  color: white;
}

.nav-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 10vw;
  height: auto;
  padding-left: 2vw;
}

.nav-logo img {
  width: 100%;
  object-fit: cover;
}

.footer-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: auto;
  width: 40vw;
  padding: 2em 0;
}

.footer-logo img {
  width: 100%;
  max-width: 30vw;
  object-fit: cover;
}

.footer-links ul li {
  padding: 1vw;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: black;
  padding: 2vw 0;
  margin-top: -7.5vh;
}

.social-media ul,
.footer-links ul {
  display: flex;
  gap: 2vw;
  /* Add spacing between links */
  justify-content: center;
  /* Center the links */
}

.social-media ul li,
.footer-links ul li {
  list-style: none;
  padding: 1vw;
}

.social-media .footer-links {
  display: flex;
}

.footer-links ul li a {
  text-decoration: none;
  font-size: 1.2vw;
  color: white;
}

.social-media ul li a img {
  width: 2vw;
  padding: 2vh 0;
  object-fit: cover;
}


/* home page */

.main-title {
  display: flex;
  margin: 0 auto;
  width: 100%;
  max-width: 100%;
  height: auto;
  padding: 4em 0 1em;
  justify-content: center;
  text-align: center;
}

.main-title h1 {
  text-align: center;
  font-size: 3vw;
}

.main-title a {
  text-decoration: none;
  color: black;
  text-decoration: underline solid cyan;
}

.design-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  max-width: 100%;
  padding: 0 7vw;
  flex-wrap: wrap;
}

.coder-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.headshot-container {
  display: flex;
  justify-content: center;
  align-items: center;
  /* Changed from 'end' to 'center' to center images */
  text-align: center;
  width: 100%;
  height: auto;
  position: relative;
  /* To stack images on top of each other */
}

.headshot-container img {
  width: 100%;
  height: auto;
  padding-bottom: 7.5vh;
  object-fit: cover;
}

.coder-box h2,
.designer-box h2 {
  font-size: 2vw;
  padding: 0.5vh 0;
  text-decoration: underline solid cyan;
}

.designer-box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  z-index: 5;
  padding: 1vw;
}

.coder-box {
  position: relative;
  z-index: 2;
  /* Ensure text remains on top */
  padding: 1vw;
}

.coder-box,
.designer-box {
  max-width: 20vw;
  text-align: center;
}

.code-img {
  position: absolute;
  bottom: -10%;
  /* Start below coder-box */
  opacity: 0;
  transform: translateY(50%);
  transition: transform 0.6s ease, opacity 0.6s ease;
  /* Smooth slide-up */
  z-index: 1;
  /* Behind the coder-box text */
  padding-left: 8vw;
  padding-bottom: 4vh;
}

.code-img img {
  width: 40vw;
  height: auto;
  transition: transform 0.6s ease, opacity 0.6s ease;
  object-fit: cover;
}

.coder-box {
  padding: 1vw;
}

.design-container a,
.coder-box a {
  text-decoration: none;
  color: black;
  width: 100%;
}

.coder-box h3,
.designer-box h3 {
  font-size: 1.5vw;
  padding-top: 0.5vh;
}

/* Animation Setup */

.animation-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.headshot,
.headshot-animated {
  width: 100%;
  transition: opacity 0.5s ease;
}

.headshot-animated {
  position: absolute;
  opacity: 0;
}

.headshot-animation .headshot {
  margin: 0 auto;
  opacity: 1;
}

.design-container,
.coder-container {
  flex: 1 1 100%;
  /* Flex-grow: 1, Flex-shrink: 1, Flex-basis: 25vw */
  max-width: 100%;
  /* Prevent overflow */
  min-width: 15vw;
  /* Maintain minimum size for readability */
}

.designer-box:hover~.headshot-container .headshot {
  opacity: 0;
}

.designer-box:hover~.headshot-container .headshot-animated {
  opacity: 1;
  animation: bounceIn 0.6s ease forwards;
}

.designer-box:hover .headshot {
  opacity: 0;
}

.designer-box:hover .headshot-animated {
  opacity: 1;
  animation: bounceIn 0.6s ease forwards;
}

.coder-box:hover+.code-img {
  opacity: 1;
  transform: translateY(0);
  /* Slides up and stays under coder-box */
}

/* about */

.about-me {
  margin: 0 auto;
  max-width: 50vw;
  position: relative;
  padding-bottom: 10vh;
}

.skills-main {
  width: 100%;
  max-width: 100vw;
  margin: auto;
  position: relative;
  padding-bottom: 10vh;
  margin-top: 4vh;
  padding-bottom: 10vh;
}

.black-container {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  background-color: black;
  width: 100%;
  margin: 2vh auto 0;
  border-radius: .225vw;
  box-shadow: 0 0.25em 0.5em rgba(0, 0, 0, 0.4), inset 0 0 0.625em rgba(255, 255, 255, 0.1);
}

.skills-black-container {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  background-color: black;
  margin: 0 auto;
  height: auto;
  max-height: 100%;
  padding: 3em;
  box-shadow: 0 0.25em 0.5em rgba(0, 0, 0, 0.4), inset 0 0 0.625em rgba(255, 255, 255, 0.1);
  max-width: 80vw;
}

.outer-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  max-width: 100%;
  height: auto;
}

.section1 {
  display: grid;
  grid-template-rows: 1fr 3fr;
  width: 100%;
  height: auto;
}

.section2 {
  display: flex;
  padding-right: 3vw;
}

.dots {
  width: 15vw;
  height: auto;
  position: absolute;
  left: -10%;
}

.dots img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.headshot-about {
  display: flex;
  height: auto;
  width: 20vw;
  position: absolute;
  left: -2%;
}

.headshot-about img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.about--me-container {
  margin-top: 1.4vw;
}

.portfolio-name {
  display: flex;
  padding: 6.7vw 0 1vw;
  width: 30vw;
  height: auto;
}

.portfolio-name img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.greeting-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-left: 50px;
  width: 100%;
}

.greetings-label {
  display: flex;
  background-color: white;
  color: black;
  width: 15vw;
  border-top: .625vh solid black;
  border-right: .625vh solid black;
  border-left: .625vh solid black;
  margin-left: 2.1vw;
  text-align: center;
  box-shadow: 0 0.25vw 0.5vw rgba(0, 0, 0, 0.4), inset 0 0 0.625vw rgba(255, 255, 255, 0.1);
}

.greetings-label h2 {
  font-size: 1.9vw;
  font-weight: bold;
  padding: 0.5vw;
}

.greetings {
  width: 90%;
  border-bottom: 0.16vw solid white;
  border-left: 0.16vw solid white;
  border-right: 0.16vw solid white;
}

.greetings p {
  color: white;
  font-family: tt norms pro, Arial, Helvetica, sans-serif;
  font-weight: 250;
  line-height: 1.4;
  font-size: 1.4vw;
  padding: 2vw;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5vw;
  margin: 1.25vw;
  max-width: 100%;
  padding: 1vh 1vw;
}

.fun-facts-grid {
  display: grid;
  grid-template-rows: 0.4fr 3fr;
  border: .155vw solid white;
}

.facts-grid {
  display: grid;
  grid-template-rows: 2fr 1fr;
  gap: 1.7vw;
  width: 100%
}

.favorites-label {
  height: 8vh;
  width: 100%;
}

.sub-labels {
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
}

.sub-labels h3 {
  font-size: 1.5vw;
  text-align: center;
  color: black;
}

.my-favorites-grid {
  display: grid;
  grid-template-rows: 0.4fr 3fr;
  gap: .5vw;
  border: .155vw solid white;
}

.inside-grid-favorites {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  margin: 0 auto;
}

.favorites {
  width: 5vw;
  height: auto;
  margin: 0 auto;
}

.favorites img {
  width: 100%;
  height: auto;
  padding: 2vh 0;
  object-fit: cover;
}

.facts,
.favorites p {
  color: white;
}

.fun-facts {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  width: 100%;
  max-width: 100%;
  height: auto;
  margin: 0 auto;
}

.facts {
  display: grid;
  grid-template-columns: 1fr 3fr;
  width: 100%;
  max-width: 100%;
  height: auto;
  padding: 2vw;
}

.check-mark-text {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  margin-top: 1vh;
  padding: 0 .7vw;
}

.quote p {
  color: white;
  font-size: 1.6vw;
  font-style: italic;
  text-align: center;
  width: 100%;
  height: auto;
}

.quote:last-child {
  padding-bottom: 1vw;
}

.check-mark {
  display: flex;
  align-items: center;
  justify-content: center;
}

.check-mark img {
  width: 5vw;
  height: auto;
  object-fit: cover;
}

.quote {
  display: flex;
  flex-direction: column;
  border: 0.16vw solid white;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
}

.quote img {
  width: 3vw;
  height: auto;
  padding-top: 1vw;
  object-fit: cover;
}


/*  skills */
.skills-black {
  margin-top: 4vh;
}

.canvas-skills-grid {
  display: grid;
  grid-template-columns: 1fr 2fr;
  width: 100%;
  max-width: 100vw;
  height: auto;
  gap: 0;
}

.canvas-skills-img img {
  height: 100%;
  width: 100%;
  border-bottom: 1em solid black;
  border-right: 1em solid black;
  border-left: .5em solid black;
  object-fit: cover;
}

.canvas-skills-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: 1em solid black;
  border-right: 1em solid black;
  border-left: .5em solid black;
  height: auto;
  width: 1005;
}

.canvas-skills-title h1 {
  font-size: 4vw;
  padding: 0;
}

.canvas-skills-title h2 {
  font-size: 2vw;
  padding: 1vw 0;
}

.skills-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 0 auto;
  background-image: black;
  padding: 1vw 2vw;
  width: 100%;
  height: auto;
}

.skills-firstset h4 {
  font-size: 2vw;
  color: #a6a6a6;
  transition: font-size 0.3s ease, color 0.3s ease;
  padding: 2vw 2vw;
  width: 80%;
  height: auto;
  margin: 0 auto;
}

.skills-firstset :hover {
  font-size: 2.3vw;
  color: white;
}

.skills-secondset h4 {
  font-size: 2.4vw;
  color: #a6a6a6;
  transition: font-size 0.3s ease, color 0.3s ease;
  padding: 2vw 3vw;
  width: 60%;
  height: auto;
  margin: 0 auto;
}

.skills-secondset :hover {
  font-size: 2vw;
  color: white;
}

.skills1 {
  display: flex;
  justify-content: flex-end;
  align-content: center;
  text-align: end;
  padding: 2vw 1vw;
}

.skills2 {
  display: flex;
  justify-content: flex-start;
  align-content: center;
  text-align: center;
}

.skills3 {
  display: flex;
  justify-content: flex-end;
  text-align: end;
  padding: 2vw;
}

.skills4 {
  display: flex;
  padding-left: 0px;
  padding: 2vw;
}

.skills6 {
  display: flex;
  padding-left: 6.77vw;
  padding: 2vw;
}

.skills8 {
  display: flex;
  text-align: center;
  justify-content: center;
  padding: 2vw;
}

.skills9 {
  display: flex;
  padding: 2vw;
}

.skills10 {
  display: flex;
  text-align: start;
  justify-content: flex-start;
  padding: 2vw;
}

.skills12 {
  display: flex;
  text-align: center;
  padding: 2vw;

}

.skills14 {
  display: flex;
  text-align: start;
  align-content: flex-start;
  padding: 2vw;
}

.skills17 {
  display: flex;
  text-align: end;
  padding: 2vw;
}

.skills18 {
  display: flex;
  text-align: start;
  justify-content: flex-start;
  padding: 2vw;
}

/* resume page  */
.resume {
  padding: 6vh 0 2vh;
  background-color: white;
}

.resume-border {
  border: .3vh solid white;
  width: 45vw;
  margin: 2em auto;
}

.resume h2 {
  font-size: 2vw;
  color: black;

}

.resume-date h3 {
  font-size: 1.5vw;
  color: black;
  padding: 0.5em 0 0;
}

.resume-summary a {
  text-decoration: none;
  color: cyan;
}

.resume-summary h3 {
  color: white;
}

.resume-summary p {
  color: white;
  font-family: tt norms pro, Arial, Helvetica, sans-serif;
  font-weight: 250;
  line-height: 1.4;
  padding: 1.25em 3em;
  font-size: 1.45vw;
}

.education {
  margin-top: 10vh;
}

/* projects */
.project-images {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45vw;
  height: auto;
}

.project-images img {
  width: 93%;
  height: auto;
  padding: 3% 0;
  object-fit: cover;

}

/* side menu and back to top button */
.hidden {
  display: none;
}

#side-nav {
  position: fixed;
  bottom: 5%;
  right: 5%;
  z-index: 1000;
  flex-direction: column;
  align-items: flex-end;
  /* Initially hidden by JavaScript toggle */
}

#side-nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#side-nav ul li {
  margin: 3% 0;
  /* Adjust spacing between the links */
}

#side-nav ul li a {
  display: block;
  padding: .5em;
  background-color: black;
  color: white;
  border: 0.0625em solid white;
  border-radius: 0.3125em;
  font-size: 1vw;
  text-decoration: none;
  transition: background-color 0.3s, color 0.3s;
  width: auto;
  text-align: center;
}

#side-nav li a:hover {
  background-color: cyan;
  color: black;
  transform: scale(1.05);
}

/* Back-to-top button */
#back-to-top {
  position: fixed;
  bottom: 1.25rem;
  left: 1.875rem;
  z-index: 99;
  background-color: black;
  color: white;
  font-size: 1vw;
  border: none;
  border-radius: 0.3125em;
  padding: .5em;
  cursor: pointer;
  transition: opacity 0.3s, transform 0.3s ease;
  border: 0.0625em solid white;
}

/* Menu button */
.menu-toggle {
  display: none;
}

/* Custom styling for project buttons */
.click-me {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2em auto;
  width: auto;
  font-size: 1.1vw;
  font-weight: 600;
  padding: 0.5em 1em;
  background-color: white;
  border: 0.2em solid black;
  border-radius: 2em;
  color: black;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease;
}

.click-me:hover {
  background-color: cyan;
  box-shadow: 0.0625em 0.0625em 0.3125em rgba(0, 0, 0, 0.3), -0.125em -0.125em 0.3125em rgba(255, 255, 255, 0.7);
}

.click-me a {
  text-decoration: none;
  color: black;
}

.project-links .explore-container .click-me {
  margin: 2em auto;
}

/* Scroll Behavior and Transitions */
#back-to-top:hover {
  background-color: cyan;
  color: black;
  transform: scale(1.1);
}

.skills-text:hover {
  text-shadow: 0.5em 0.5em 1em rgba(11, 214, 226, 0.8),
    /* outer glow */
    0.125em 0.125em 0.5em rgba(11, 214, 226, 0.6),
    /* softer glow */
    0.375em 0.375em 1.25em rgba(11, 214, 226, 0.4);
  /* faint glow */
}

.button-grid {
  display: flex;
  width: 80%;
  max-width: 100%;
  margin: 0 auto;
  padding-bottom: 2em;
  gap: 1em;
}

.takeme-text h3 {
  color: cyan;
  font-weight: 700;
  font-size: 1.5vw;
}

/* contact page */
.contact-form-container {
  width: 100%;
  margin: 2em auto;
  text-align: left;
}

.contact-form-container form {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.contact-form-container input,
.contact-form-container textarea {
  width: 100%;
  padding: 0.75em;
  border: 0.0625em solid #B0B0B0;
  border-radius: 0.3125em;
  font-size: 1rem;
}

form {
  padding: 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  background-color: #F2F7FA;
  /* Match contact form background */
  width: 60%;
  box-shadow: 0px 0.25em 0.5em rgba(0, 0, 0, 0.1);
  /* Softer shadow */
  border-radius: 0.5em;
  /* Smooth rounded corners */
  color: #1A1D9E;
  /* Consistent text color */
}

form h1 {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 1em;
  color: #1A1D9E;
}

.form-sect label {
  font-size: 1.2rem;
  margin-bottom: 0.5em;
}

.form-sect {
  margin-bottom: 1.5em;
}

.form-sect input,
.form-sect textarea,
.form-sect select {
  width: 100%;
  padding: 0.75em;
  border-radius: 0.3125em;
  border: 0.0625em solid #B0B0B0;
  font-size: 1rem;
}

textarea {
  resize: vertical;
  height: 12.5vh;
}

button.submit-button {
  width: 100%;
  padding: 0.75em;
  background-color: black;
  color: white;
  border: none;
  border-radius: 0.3125em;
  font-size: 1.1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button.submit-button:hover {
  background-color: #0BD6E2;
}

/* Default display */
.desktop-version {
  display: block;
}

.mobile-version {
  display: none;
}



.hubspot {
  width: 93%;
  height: auto;
  max-width: 100%;
  margin: 0 auto;
}

.hubspot img,
.grade-grid img {
  margin: 0 auto;
  width: 93%;
  height: auto;
  object-fit: cover;
}

/* borders */
.border-white {
  border: 1em solid white;
  margin: 30px auto;
  width: 95%;
  max-width: 100%;
  height: 100%;
  padding: 0.9375em 0;
}

.collections-border-white {
  border: 1em solid white;
  margin: 1.875em auto;
  width: 95%;
  max-width: 100%;
  height: 100%;
  padding: 0.9375em 0;
}


.hamburger-nav-links {
  display: none;
  /* Initially hidden */
  position: fixed;
  top: 0;
  right: 0;
  width: 80%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  /* Semi-transparent black */
  z-index: 10;
  transform: translateX(100%);
  /* Initially off-screen */
  transition: transform 0.3s ease;
  flex-direction: column;
  padding-top: 60px;
}

/* Show the hamburger menu when active */
.hamburger-nav-links.active {
  transform: translateX(0);
  /* Slide in */
}

/* Nav links inside the hamburger menu */
.hamburger-nav-links ul {
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 1.25em;
  text-align: center;
}

.hamburger-nav-links ul li a {
  font-size: 2rem;
  color: white;
  text-decoration: none;
  padding: 0.625em;
  transition: color 0.3s ease;
}

.hamburger-nav-links ul li a:hover {
  color: cyan;
}

/* Menu button */
.menu-toggle {
  display: block;
  background-color: black;
  color: white;
  font-size: 2em;
  padding: 0.5em;
  cursor: pointer;
  z-index: 20;
  /* Ensure it's above other elements */
}

/* Hide the hamburger button when the menu is active */
.menu-toggle.active {
  display: none;
}

.menu-toggle {
  display: none;
}

/* collection page */
.collections-grid,
.collections-row {
  display: grid;
  width: 100%;
  max-width: 100%;
  /* Ensure no overflow */
  height: auto;
  padding: 0;
}


.collections-grid {
  grid-template-rows: repeat(2, 1fr);
  margin: 2em auto;
}

.collections-row {
  grid-template-columns: repeat(3, 1fr);
  width: 80vw;
  max-width: 100%;
  height: auto;
  margin: 4em auto;
}

.collection-thumbnail-box {
  background-color: black;
  box-shadow: rgb(0 0 0 / 20%) 0 0 1.5625em .5em;
  width: 100%;
  height: auto;
  margin: 2em auto;
  padding: 1em;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.collections-title {
  width: 100%;
  height: auto;
  max-width: 100%;
  margin: 0 auto;
  background-color: white;
  padding: 0.725em;
}

.collections-container {
  width: 100%;
  height: auto;
  /* Let the content define the height */
  margin: 0 auto;
}

.collections-thumbnail {
  margin: 0 auto;
  width: 90%
}

.collections-thumbnail img {
  width: 100%;
  height: auto;
  margin: 0 auto;
  border: 0.2em solid white;
  object-fit: cover;
}

.collections-button-grid {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 0;
  margin: 1em auto;
  padding: 0 1.5em;
}

.collections-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  font-size: 1rem;
  padding: 0.5em 1em;
  background-color: white;
  border: 0.2em solid black;
  border-radius: 2em;
  color: black;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease;
}

.collections-btn:hover {
  background-color: cyan;
  box-shadow: 0.0625em 0.0625em 0.3125em rgba(0, 0, 0, 0.3), -0.125em -0.125em 0.3125em rgba(255, 255, 255, 0.7);
}

.collections-btn a {
  text-decoration: none;
  color: black;
}

.collections-title {
  width: 93%;
  height: auto;
  /* Let content determine height */
  max-width: 37.5vw;
  margin: 0 auto;
}

#project-title {
  height: auto;
  margin: 2em auto 1em;
  line-height: 1.5;
  background-color: white;
  width: 100%;
  padding: 1em 0 1em;
}

#project-title h2 {
  font-size: 2.3vw;
}

.mood-board h3,
.author-bio-text h3,
.pagespeed-grade-title h3,
.grade-text .grade-title h3 {
  font-size: 2vw;
}

.grade-text {
  width: 100%;
  max-width: 100%;
  height: auto;
  margin: 0 auto;
  padding: 2em;
}

#desktop-grade h3 {
  font-size: 1.2vw;
}

#desktop-grade .grade-header h3,
#desktop-grade p {
  font-size: 1.2vw;
}

.grade-item p {
  font-size: 1vw;
}

.author-bio-text {
  width: 90%;
  max-width: 100%;
  margin: 2em auto 2em;
  height: auto;
  padding: 0.625em;
  background-color: white;
}


.pagespeed-grade-title,
.grade-title {
  width: 100%;
  max-width: 100%;
  height: auto;
  padding: 0.625em;
  background-color: white;
}

.pagespeed-grade-title {
  margin: 3em auto 0;
}

.grades {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 100%;
}

.grade-container {
  width: 100%;
  max-width: 100vw;
  margin: 1em auto;
  display: grid;
  grid-template-columns: repeat(5, minmax(5vw, 1fr));
  gap: 0.3125em;
  background-color: black;
}

.grade-header,
.grade-item {
  display: flex;
  align-items: center;
  justify-content: center;
}

.grade-header {
  height: auto;
  width: 100%;
  max-width: 100%;
  padding: 0.3125em;
  background-color: white;
}

.grade-item {
  padding: 0.3125em;
  height: auto;
  width: 100%;
  background-color: white;
}

.pagespeed-container {
  width: 100%;
  height: auto;
  max-width: 100%;
  margin: 0 auto;
}

.mood-board,
.pagespeed-grade-img {
  width: 100%;
  max-width: 850px;
  height: auto;
  margin: 0 auto;
}

.mood-board img,
.pagespeed-grade-img img {
  width: 93%;
  height: auto;
  margin: 0 auto;
  object-fit: cover;
}

.cta-section,
.author-bio {
  max-width: 100%;
}

.cta-section img,
.author-bio img {
  width: 90%;
  height: auto;
  margin: 2em auto 0;
  object-fit: cover;
}

.cta-section p {
  font-size: 1.3vw;
  width: 100%;
  height: auto;
}

.author-bio {
  flex-direction: column;
  margin: 0 auto;
  text-align: center;
}

.aurtho-bio h2 {
  font-size: 2vw;
  width: 100%;
  height: auto;
}

.author-bio img {
  width: 40vw;
  object-fit: cover;
}

.hubspot,
.grade-grid {
  display: flex;
  flex-direction: column;
  gap: 1.5em;
  margin: 0 auto;
  width: 95%;
  max-width: 95%;
  height: auto;
}

.author-bio p {
  width: 100%;
  font-size: 1.3vw;
  padding: 0.3em;
  font-weight: 600;
}

.casestudy-hr {
  margin: 2em auto 2em;
  width: 80%;
}

.list-items {
  margin: 0 auto;
}

.list-items ul li {
  color: white;
  width: 60%;
  margin: 0 auto;
  line-height: 1.6;
  text-align: left;
  font-size: 1.2vw;
}

.casestudy h3 {
  padding: 2em 2em 0 2em;
  left: 1%;
  margin: 0 auto 1em;
  width: 100%;
  height: auto;
}

.casestudy p {
  font-size: 1.5vw;
  left: 1%;
  margin: 0 auto 1em;
  width: 100%;
  height: auto;
}

.casestudy h3 {
  font-size: 1.6vw;
  left: 1%;
  margin: 0 auto 1em;
  width: 100%;
  height: auto;
}

.list-items ul li {
  padding-left: 1.25em;
  margin-top: 0.5em;
}

.list-items ul li {
  margin-bottom: 1em;
}

.list-items h3 {
  font-size: 1.6vw;
  left: 1%;
  margin: 0 auto 1em;
  width: 100%;
  height: auto;
}

.list-items li {
  line-height: 1.6;
  font-size: 1.5vw;
}

.explore-container {
  display: flex;
  flex-direction: row;
  margin: 2em auto;
  height: auto;
  width: 95%;
  background-color: white;
}

.project-links .explore-container .click-me {
  margin: 2em auto;
}

/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
  /* Ensures tooltip is tied to the h4, but tooltip itself will be positioned relative to the container */
  cursor: pointer;
  /* Indicate it's interactive */
}

/* Target the h4 inside .tooltip specifically */
.tooltip h4 {
  position: relative;
  display: inline-block;
  /* Ensures tooltip only appears when hovering over the h4 */
  cursor: pointer;
  /* Indicate it's interactive */
}

/* Tooltip text */
.tooltip-text {
  visibility: hidden;
  width: auto;
  min-width: 200px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 10px;
  position: absolute;
  z-index: 1;
  bottom: 100%;
  /* Position directly above the word */
  left: 50%;
  margin-left: -100px;
  /* Center the tooltip */
  opacity: 0;
  transition: opacity 0.3s ease;
  border: 2px solid #0BD6E2;
  /* Cyan border */
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  /* Optional: Shadow for more visibility */
}

/* Tooltip arrow */
.tooltip-text::after {
  content: "";
  position: absolute;
  top: 100%;
  /* Bottom of the tooltip */
  left: 50%;
  margin-left: -5px;
  /* Center the arrow */
  border-width: 5px;
  border-style: solid;
  border-color: #0BD6E2 transparent transparent transparent;
  /* Cyan arrow */
}

/* Show the tooltip on hover over the h4 text */
.tooltip h4:hover+.tooltip-text {
  visibility: visible;
  opacity: 1;
}


@media (max-width: 768px) {
  .tooltip:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
  }

  .collections-button-grid {
    padding: 0 .5em;
  }

  .collections-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    font-size: 1rem;
    padding: 0.225em .5em;
    background-color: white;
    border: 0.2em solid black;
    border-radius: 2em;
    color: black;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease;
  }

  #side-nav {
    right: 15vw;
  }

  .about-me {
    margin: 0 auto;
    max-width: 75vw;
    position: relative;
    padding-bottom: 10vh;
  }

  .resume-border,
  .project-images {
    width: 65vw;
  }

  .collections-grid,
  .collections-row {
    display: flex;
    flex-direction: column;
    width: 80%;
    max-width: 100%;
    /* Ensure no overflow */
    height: auto;
    padding: 0;
    margin: 0 auto;
  }

  .collections {
    height: auto;
    width: 100%;
  }

  footer {
    margin-top: 2em;
  }

  .collections-title {
    width: 100%;
    height: auto;
    max-width: 100%;
  }

  .outer-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    max-width: 100%;
    height: auto;
  }

  .section1 {
    display: grid;
    grid-template-rows: 1fr 3fr;
    width: 100%;
    height: auto;
  }

  .section2 {
    display: flex;
    padding-right: 3em;
  }

  .dots {
    width: 25vw;
    left: -10%;
  }

  .headshot-about {
    display: flex;
    height: auto;
    width: 25vw;
    position: absolute;
    left: -1%;
    margin-top: 3em;
    /*new*/
  }

  .about--me-container {
    margin-top: 0.2em;
  }

  .portfolio-name {
    padding: 6em 0 1em;
    width: 45vw;
  }

  .portfolio-name img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }

  .greetings-label {
    width: 20vw;
  }

  .facts,
  .inside-grid-favorites {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    margin: 0 auto;
    gap: 3vw;
  }

  .favorites {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3vw;
    width: 80%;
    height: 60%;
    margin: 3vw auto;
    border: 0.1vw solid white;
    padding: 2vw 0;
  }

  .favorites img {
    width: 5vw;
    height: auto;
    padding: 1vw 0;
    object-fit: cover;
  }

  .favorites-label {
    height: 4vh;
    width: 100%;
  }

}