  #projects {
    margin: 0 auto;
    width: 52%;
    max-width: 52vw;
    position: relative;
    padding: 10rem;
    margin: 0 auto;
    height: auto;
    contain: layout;
  }

  #the-design {
    margin: 0 auto;
    height: auto;
    contain: layout;
    padding: 0.1em;
  }

  .design {
    min-height: clamp(40rem, 60vh, 80rem);
    height: auto;
  }

  .grade-grid img,
  .hubspot img {
    margin: 0 auto;
    width: 100%;
    height: auto;
    object-fit: cover
  }

  #project-title {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: auto;
    margin: 1em auto 2em;
    background-color: #fff;
    width: 98%;
    padding: 1em;
  }

  #project-title h2 {
    font-size: clamp(1rem, 2vw, 2rem);
    height: auto;
    width: 100%;
  }

  .author-bio-text h2 {
    font-size: 1.8rem;
    width: 100%;
    height: auto;
  }

  .grade-text {
    min-height: 42.5rem;
  }

  .grade-container {
    min-height: 35rem
  }

  #section1 {
    min-height: clamp(42rem, 84vh, 81.43rem);
  }

  #section2 {
    min-height: clamp(39rem, 78vh, 76.125rem);
  }

  #section3 {
    min-height: clamp(10rem, 25vh, 19.5rem);
  }

  #section4 {
    min-height: clamp(30rem, 90vh, 58.125rem);
  }

  .grade-text,
  .grade-title,
  .article-global-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 100%;
    max-width: 100vw
  }

  .grade-text .grade-title h3,
  .pagespeed-grade-title h3 {
    font-size: 1.5rem;
    height: auto;
    width: 100%;
    color: #000;
    margin: 0 auto
  }

  .grade-text {
    width: 100%;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    padding: 1em
  }

  .grade-container h3 {
    font-size: clamp(1rem, 1.1rem, 2.3rem);
  }

  .grade-container p {
    font-size: clamp(1.2rem, 1.5rem, 2rem);
  }

  .grade-container h3,
  .grade-container p {
    text-align: center;
    word-break: break-all
  }

  .author-bio p,
  .author-bio p i,
  .author-bio strong {
    color: #fff;
    font-size: 1.2rem;
  }

  .grade-title,
  .pagespeed-grade-title {
    height: auto;
    padding: .625em;
    background-color: #fff
  }

  .pagespeed-grade-title {
    margin: 1em auto
  }

  .pagespeed-container {
    margin: 1em auto
  }

  .grades {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 100%
  }

  .grade-container {
    width: 100%;
    max-width: 100vw;
    margin: 1em auto;
    display: grid;
    grid-template-columns: repeat(5, minmax(5vw, 1fr));
    gap: .3125em;
    background-color: #000
  }

  .grade-header,
  .grade-item {
    display: flex;
    align-items: center;
    justify-content: center
  }

  .grade-header {
    height: auto;
    width: 100%;
    max-width: 100%;
    padding: .3125em;
    background-color: #fff
  }

  .grade-item {
    padding: .3125em;
    height: auto;
    width: 100%;
    background-color: #fff
  }

  .pagespeed-container {
    width: 100%;
    height: auto;
    max-width: 100vw;
    overflow: hidden;
  }

  .author-bio,
  .cta-section,
  .grade-img,
  .article-global-container,
  .pagespeed-grade-img,
  .project-images {
    width: 100%;
    max-width: 1200px;
    height: auto;
    margin: 0 auto;
    padding: 0
  }

  .author-bio {
    background-color: #000;
    color: #0bd6e2;
  }

  .author-bio img {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
    padding: 0 1em;
    box-sizing: border-box;
    margin: 0 auto;
  }

  .wireframe-img,
  .hubspot,
  .cute-robot,
  .cta-section,
  .grade-img,
  .mood-board,
  .past-meets-future,
  .pagespeed-grade-img,
  .project-img {
    width: 100%;
    max-width: 100vw;
    height: auto;
    min-height: auto;
    margin: 0 auto;
    padding: 0.01em;
  }

  .wireframe-img img,
  .hubspot img,
  .cute-robot img,
  .cta-section img,
  .grade-img img,
  .mood-baord img,
  .past-meets-future img,
  .pagespeed-grade-img img,
  .project-img img,
  .grade-img img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-sizing: border-box;
    margin: 0 auto;
  }

  .cta-section p {
    font-size: 1.3rem;
    width: 100%;
    height: auto
  }

  .grade-grid,
  .hubspot {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    margin: 0 auto;
    width: 95%;
    max-width: 95%;
    height: auto
  }

  .author-bio p {
    width: 100%;
    font-size: 1.3rem;
    padding: .3em;
    font-weight: 600
  }

  .casestudy-hr {
    margin: 2em auto 2em;
    width: 80%
  }

  .list-items {
    margin: 0 auto
  }

  .list-items ul li {
    color: #fff;
    width: 60%;
    margin: 0 auto;
    line-height: 1.2;
    text-align: left;
    font-size: 1.2rem
  }

  .casestudy h3 {
    padding: 2em 2em 0 2em;
    left: 1%;
    margin: 0 auto 1em;
    width: 100%;
    height: auto
  }

  .casestudy p {
    font-size: 1.4rem;
    left: 1%;
    margin: 0 auto 1em;
    width: 100%;
    height: auto
  }

  .casestudy h3 {
    font-size: 1.5rem;
    left: 1%;
    margin: 0 auto 1em;
    width: 100%;
    height: auto
  }

  .list-items ul li {
    padding-left: 1.25em;
    margin-top: .5em
  }

  .list-items ul li {
    margin-bottom: 1em
  }

  .list-items h3 {
    font-size: 1.5rem;
    left: 1%;
    margin: 0 auto 1em;
    width: 100%;
    height: auto
  }

  .list-items li {
    line-height: 1.2;
    font-size: 1.3rem
  }

  .explore-container {
    display: flex;
    flex-direction: row;
    margin: 2em auto;
    height: auto;
    width: 95%;
    background-color: #fff
  }

  .project-links .explore-container .click-me {
    margin: 2em auto
  }

  .site-hero-img {
    width: 100%;
    max-width: 1200px;
    height: auto;
    margin: 0 auto
  }

  .site-hero-img {
    aspect-ratio: 1.95/1;
  }

  .site-hero-img img {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
    box-sizing: border-box;
    margin: 0 auto;
    aspect-ratio: inherit;
    padding: .2em 1em
  }

  .wireframe {
    height: auto;
    width: 100%;
    max-width: 100vw;
    contain: paint;
    overflow: hidden;
    min-height: auto;
    padding: 0.2em;
    margin: 0 auto;
  }

  .hidden {
    display: none
  }

  @media (max-width: 1200px) {
    .canvas-skills-title h1 {
      padding: 0;
      font-size: clamp(1.2rem, 3rem, 34rem);
    }

    .canvas-skills-title h2 {
      font-size: clamp(1.2rem, 2.5rem, 3rem);
      padding: .2em 0;
      height: auto;
    }
  }

  @media (max-width:1024px) {
    #projects {
      margin: 0 auto;
      width: 75%;
      max-width: 75vw;
      position: relative;
      padding-bottom: 3rem;
      margin: 0 auto;
      height: auto;
      contain: layout;
    }

    .resume-border {
      width: 93%;
      height: auto;
    }

    .author-bio img {
      width: 93%;
      max-width: 93vw;
      height: auto;
      min-height: 5rem
    }


  }

  @media (max-width:768px) {

    .article-global-container,
    .resume-border {
      width: 100%;
      height: auto;
    }

    #projects {
      width: 85%;
      max-width: 85vw;
      height: auto;
      contain: layout
    }

    .article-global-container {
      padding: .2em
    }

    .author-bio,
    .cta-section,
    .grade-img,
    .article-global-container,
    .project-images {
      padding: .2em;
    }

    .grade-text {
      padding: .5em;
    }

    #project-title,
    .pagespeed-grade-title {
      height: auto;
      margin: .2em auto 1em;
      background-color: #fff;
      width: 95%;
      max-width: 95vw;
      padding: 0
    }

    #project-title h2 {
      font-size: clamp(1.5rem, 2vw, 2rem);
      color: #000;
      width: 100%;
      height: auto;
    }


    .site-hero-img {
      width: 100%;
      max-width: 768px;
      height: auto;
      margin: 0 auto;
      padding: 0
    }

    .site-hero-img img {
      display: block;
      width: 100%;
      height: auto;
      object-fit: cover;
      box-sizing: border-box;
      margin: 0 auto;
      aspect-ratio: inherit
    }

    .education {
      margin-top: 10vh;
    }

    .tooltip:hover .tooltip-text {
      visibility: visible;
      opacity: 1
    }

    .collections-button-grid {
      padding: 0 .5em
    }

    .collections-btn {
      display: flex;
      justify-content: center;
      align-items: center;
      width: auto;
      font-size: 2rem;
      padding: .225em .5em;
      background-color: #fff;
      border: .2em solid #000;
      border-radius: 2em;
      color: #000;
      text-decoration: none;
      cursor: pointer;
      transition: transform .3s ease
    }

    .resume-border {
      width: 95%;
      max-width: 95%;
      height: auto;
    }

    .takeme-text {
      margin: 2em auto;
    }

    .takeme-text h3 {
      margin: 0 auto 1em;
    }

    .author-bio,
    .cta-section {
      max-width: 100%;
      height: auto;
    }

    .author-bio img,
    .cta-section img {
      width: 100%;
      height: auto;
      margin: 0 auto;
      object-fit: cover;
      aspect-ratio: inherit;
      min-height: 9.3125rem;
    }

    .author-bio-text,
    .cta-section img {
      margin: 1em auto
    }

    .author-bio h2 {
      font-size: clamp(1.1rem, 2vw, 1.3rem);
      height: auto;
      min-height: 1.1rem;
    }

    .author-bio p {
      font-size: 1rem;
      height: auto;
      min-height: 1rem;
    }

    .author-bio-text {
      width: 98%
    }

    .list-items ul li {
      color: #fff;
      width: 75%;
      min-height: 1rem;
    }

    #projects {
      min-height: auto;
    }
  }


  @media (max-width:480px) {
    .about-me {
      height: auto;
      width: 100%;
      max-width: 100vw;
      min-height: auto;
      padding: 0.3em;
    }

    .design {
      contain: layout paint;
      height: auto;
    }

    .casestudy p {
      font-size: 1.4rem;
      left: 1%;
      margin: 0 auto;
      width: 100%;
      height: auto
    }

    .takeme-text {
      margin: 4em auto 0
    }

    #projects {
      width: 90%;
      height: auto;
      max-width: 90vw;
    }

    .black-container {
      width: 100%;
      max-width: 100vw;
      height: auto;
    }

    .border-white {
      border: .2em solid #fff;
      margin: .5em auto;
      width: 96%;
      max-width: 100%;
      height: auto;
      padding: .9375em 0
    }

    .article-global-container,
    .resume-border {
      width: 100%;
      height: auto;
    }
  }